/* 공통 레이아웃 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

.sidebar {
    width: 289px;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.best-items {
    margin-top: 20px;
}

.best-title {
    font-size: 18px;
    font-weight: bold
}

.best-main {
    padding: 10px;
    margin-bottom: 10px;
}

.best-sub {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
}

.best-price {
    text-decoration: line-through;
}

.old {
    text-decoration: line-through;
    font-size: 15px;
    color: #999;
}

.sort-options {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 11px;
}

.sort-options>.options-item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 1px;
    margin-bottom: 20px;
    height: 11px;
    margin: 0 15px;
    border-left: 1px solid black;
}

.sort-options>.options-item>a {
    text-align: center;
    color: black;
    display: inline-block;
    position: relative;
    font-size: 15px;
}

.main-content {
    flex: 1;
    padding: 30px;
}

.breadcrumb {
    font-size: 16px;
    margin-bottom: 10px;
    float: right;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -3px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    text-align: left;
}

.product-table th {
    background-color: #f9f9f9;
    font-size: 15px;
}

.product-table td:nth-child(1),
.product-table th:nth-child(1) {
    width: 15%;
}

.product-table td:nth-child(2),
.product-table th:nth-child(2) {
    width: 47%;
}

.product-table td:nth-child(3),
.product-table th:nth-child(3) {
    width: 20%;
}

.product-table td:nth-child(4),
.product-table th:nth-child(4) {
    width: 25%;
}


.product-img {
    width: 120px;
    height: auto;
    border: 1px solid #ddd;
}

.name {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 4px;
}

.desc {
    font-size: 16px;
    color: #666;
    margin-bottom: 6px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.original {
    text-decoration: line-through;
    font-size: 18px;
    color: #999;
}

.discount {
    color: red;
    margin-left: 5px;
    font-size: 15px;
}

.now {
    font-size: 16px;
}

.images {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.best{
    font-size: 25px;
    font-weight: bold;
}

.shipping {
    font-size: 15px;
    color: #3366cc;
    margin-top: 20px;
    font-weight: bold;
}

.review {
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
}

.stars {
    color: gold;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}

.premier {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
    font-weight: 500;
}

.premier a {
    font-weight: 500;
    font-size: 15px;
    color: black;
}

.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 6px 12px;
    border: 1px solid #aaa;
    background-color: #fff;
    cursor: pointer;
}

.pagination .active {
    background-color: red;
    color: white;
}