/* 공통 레이아웃 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: #111;
}

.notice-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.notice-path {
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #808080;
    color: black;
    margin-left: 80px;
}

.notice-path > span{
    font-size: 15px;
}
.notice-path > strong{
    font-size: 15px;
}

.cs-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.cs-sidebar {
    width: 145px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
    margin-left: 100px;
}

.cs-sidebar h3 {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: bold;
}

.cs-menu {
    list-style: none;
    padding-left: 0;
    margin-top: 25px;
}

.cs-menu li {
    padding: 8px 0;
    font-size: 14px;
    cursor: pointer;
}

.cs-menu li.active {
    font-weight: bold;
    color: #C00000;
    text-decoration: underline;
}

.cs-content {
    width: 80%;
}

.cs-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5px;

}

.cs-desc {
    font-size: 13px;
    color: #808080;
    margin-bottom: 15px;
}

.cs-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 20px;
    border-top: 2px solid #808080;
}

.cs-table th,
.cs-table td {
    padding: 12px 10px;
    border-bottom: 1px solid #eee;
}

.cs-table td:nth-child(2),
.cs-table td:nth-child(3),
.cs-table td:nth-child(4) {
    text-align: center;
}

.cs-table td a {
    color: #111;
    text-decoration: none;
}

.cs-table td a:hover {
    color: #C00000;
    text-decoration: underline;
}

.pagination {
    text-align: center;
}

.pagination a {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.pagination a.active {
    font-weight: bold;
    color: #C00000;
}

.status {
    font-size: 13px;
    font-weight: bold;
}

.status.checking {
    color: #555;
}

.status.complete {
    color: #0072ff;
}

.qna-button {
    text-align: right;
    margin-top: 15px;
}

.qna-button button {
    background-color: #8EB4E3;
    color: #fff;
    padding: 8px 18px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.qna-button button:hover {
    background-color: #538bcf;
}