<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/css/company/culture.css" />
</head>
<body>
<div class="container">
    <th:block th:include="/common/company_header"/>
</div>

<div class="main-banner">
    취향을, 브랜드를, 혜택을 발견하는 즐거움<br />지금 롯데온에서 만나요
</div>
<div class="main">
    <div class="content">
        <div class="intro-text">
            소비 등 생활 사람들이 만든 플랫폼, 롯데온은 혁신적인 온라인 쇼핑의 판을 바꿉니다.
        </div>
        <div class="section-title">쇼핑을 새롭게, 세상을 이롭게 만들어 나가요.</div>
        <h2>대기업 속의 스타트업, 롯데ON은 이렇게 일해요!</h2>
        <div class="content-box">
            <div class="image-placeholder">
                <img style="height: 220px; width: 380px"  src="/images/img_20.png" alt="썸네일 이미지" />
            </div>
            <div class="text-box">
                <h3>스스로 책임지고 자율적으로 일해요</h3>
                <p>
                    “어른답게” 서로를 어른으로 대하고 배려하는 것이 중요해요.<br />
                    스스로 판단하고 자율적으로 행동할 수 있기 때문에<br />
                    더 높은 효율을 만들어나가며 일을 할 수 있어요.
                </p>
            </div>
        </div>
        <div class="content-box">
            <div class="text-box">
                <h3>목표와 방향을 생각하며 나아가요.</h3>
                <p>
                    “혁신적으로” 일의 목적을 충분히 생각하는 것으로부터<br />
                    우리의 아이디어는 시작되고, 높은 목표는 혁신적인 방향을<br />
                    만들어 낼 수 있다고 믿어요. 그 과정에서 우리가 더 잘할 수<br />
                    있는 것이 무엇인지 항상 고민해요.
                </p>
            </div>
            <div class="image-placeholder">
                <img style="height: 220px; width: 380px"  src="/images/img_21.png" alt="썸네일 이미지" />
            </div>
        </div>
        <div class="content-box">
            <div class="image-placeholder">
                <img style="height: 220px; width: 380px"  src="/images/img_22.png" alt="썸네일 이미지" />
            </div>
            <div class="text-box">
                <h3>스스로 책임지고 자율적으로 일해요</h3>
                <p>
                    “어른답게” 서로를 어른으로 대하고 배려하는 것이 중요해요.<br />
                    스스로 판단하고 자율적으로 행동할 수 있기 때문에<br />
                    더 높은 효율을 만들어나가며 일을 할 수 있어요.
                </p>
            </div>
        </div>
        <h2>우리의 문화와 제도는 구성원들의<br>성장과 몰입을 위해 존재해요.</h2>
        <div class="cards">
            <div class="card">
                <div class="icon-placeholder">👥</div>
                <div class="card-content">
                    <h3>수평적인 문화</h3>
                    <p>수평적인 의사소통을 위해 님 호칭을 사용하며, 서로의 의견도, 연차도 존중하는 소통 문화를 만들어가요. 역할 중심의 Career Level, 모든 정보의 공유와 소통으로 수평적인 문화를 지속해나가요.</p>
                </div>
            </div>
            <div class="card">
                <div class="icon-placeholder">🏠</div>
                <div class="card-content">
                    <h3>자율적인 근무환경</h3>
                    <p>원하는 자리에 앉는 스마트 오피스, 정해진 출퇴근 시간 없이 자율적으로 근무하는 유연근로제로 효율적인 업무를 위한 구성원의 자율을 존중해요.</p>
                </div>
            </div>
            <div class="card">
                <div class="icon-placeholder">🤝</div>
                <div class="card-content">
                    <h3>함께 누리는 복지제도</h3>
                    <p>선택적 복리후생 제도를 통해 개인이 원하는 복리후생 항목을 선택하여 사용해요. 리프레시 안식휴가, 사랑스러운 아이를 위한 육아휴직 등 다양한 복지 제도로 구성원들의 행복한 일터와 가정을 책임져요.</p>
                </div>
            </div>

            <div class="card">
                <div class="icon-placeholder">💡</div>
                <div class="card-content">
                    <h3>이기고 성장하는 문화</h3>
                    <p>‘이달의 롯데ON 구성원’을 선정하는 M.O.M 포상제도 운영과 아이디어 제안 채널 ‘아이디어ON’을 통해 구성원의 이야기를 듣고 성과를 인정하여 Winning Culture를 만들어가요.</p>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-line">
                <strong>롯데ON의 기업문화가 더 궁금하다면?</strong><br>
                <button>
                    <a th:href="@{/company/story}">더알아보기</a>
                </button>
            </div>
        </div>
        <th:block th:include="/common/company_footer"/>
</body>
</html>