<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>롯데ON 스토리</title>
    <link rel="stylesheet" href="/css/company/media.css" />
</head>
<body>
<div class="container">
    <th:block th:include="/common/company_header"/>
</div>
<div class="main">
    <div class="content">
        <h1>미디어 세상 속 롯데&nbsp;&nbsp;ON&nbsp;&nbsp;을 소개합니다&nbsp;&nbsp;!</h1>
        <div class="subtitle">더 다양한 LotteON 영상을 소개합니다.</div>

        <div class="video-section">
            <div class="video-thumbnail">
                <!--<img src="https://img.icons8.com/ios-filled/50/youtube-play.png" alt="영상 플레이 아이콘">-->
                <a href="https://www.youtube.com/watch?v=PEUvPBB2v6U">
                    <img  src="/images/img.png" style="width: 200px; height: 120px">
            </div>
            <div class="video-info">
                <h2>
                    [롯데ON] 🚨단, 10일!🚨 올 하반기 역대급 브랜드 쇼핑 축제, 온세상 쇼핑 페스타
                </h2>
                </a>
                <p>쇼핑 요정들이 손꼽아 기다려온
                    🌟10월 14일 부터 23일 까지🌟 단, 10일간 진행되는 역대급 브랜드 쇼핑 축제!</p>
            </div>
        </div>

        <div class="video-section">
            <div class="video-thumbnail">
                <!-- <img src="https://img.icons8.com/ios-filled/50/youtube-play.png" alt="영상 플레이 아이콘" style="width: 50px; height: auto">-->
                <a href="https://www.youtube.com/watch?v=9ZtsI8Hn1rg">
                    <img src="/images/img_1.png" style="width: 200px; height: 120px" >
            </div>
            <div class="video-info">
                <h2>[롯데ON] 🎈4월9일 롯데를 가지세요!🎈 4,300만의 브랜드 대축제!</h2>
                </a>
                <p>💌4월9일에는 전국민 롯.또.청.약

                    📆4.9 당신은 여기로 옵니다.
                    롯데 온라인 쇼핑 페스타💞</p>
            </div>
        </div>


        <div class="pagination">
            <a th:href="@{'/company/media?page=' + ${currentPage - 1}}"
               th:classappend="${currentPage == 0} ? 'disabled'" >이전</a>

            <span th:each="i : ${#numbers.sequence(
                        currentPage < 3 ? 0 : currentPage - 2,
                        (currentPage < 3 ? 0 : currentPage - 2) + 4)}"
                  th:if="${i < totalPages}">
        <a th:href="@{'/company/media?page=' + ${i}}"
           th:text="${i + 1}"
           th:classappend="${currentPage == i} ? ' active'"></a>
    </span>

            <a th:href="@{'/company/media?page=' + ${currentPage + 1}}"
               th:classappend="${currentPage >= totalPages - 1} ? 'disabled'">다음</a>
        </div>


    </div>
</div>
<th:block th:include="/common/company_footer"/>
</body>
</html>