<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>롯데ON 스토리</title>
    <style>
        .pagination a.active {
            font-weight: bold;
            color: #fff;
            background-color: #333;
            padding: 5px 10px;
            border-radius: 5px;
        }
    </style>
    <link rel="stylesheet" href="/css/company/recruit.css" />
</head>
<body>
<div class="container">
    <th:block th:include="/common/company_header"/>
</div>
<div class="main">
    <div class="content">
        <h1>쇼핑을 새롭게 , 세상을 이롭게 이끌</h1>
        <h1>쇼핑 좀 해본 인재를 모십니다!</h1>
        <h2>
            롯데 ON 은 안정성있고 혁신성있는 우리의 문화를 만들어가고 있어요. <br />
            구성원 들은 수평적이고 자율적인 문화 속에서 선을 넘어 혁신적인 롯데 ON만의 서비스를 만들어요.<br />
            롯데 ON과 함께 큰 흔적을 찍으며 성장하실 분들을 기다립니다.
        </h2>

        <div class="table-title">
            채용공고 리스트
        </div>

        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>채용부서</th>
                <th>경력사항</th>
                <th>채용형태</th>
                <th>제목</th>
                <th>상태</th>
                <th>모집기간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="recruit : ${recruitList}">
                <td th:text="${recruit.id}"></td>
                <td th:text="${recruit.department}"></td>
                <td th:text="${recruit.experience}"></td>
                <td th:text="${recruit.type}"></td>
                <td th:text="${recruit.title}"></td>
                <td th:text="${recruit.status}"
                    th:classappend="${recruit.status == '모집중'} ? ' status-active' : ' status-end'"></td>
                <td th:text="${recruit.startDate + ' ~ ' + recruit.endDate}"></td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            <a th:href="@{/company/recruit(page=${currentPage - 1})}"
               th:if="${currentPage > 1}">이전</a>
            <a th:each="i : ${#numbers.sequence(1, totalPages)}"
               th:href="@{/company/recruit(page=${i})}"
               th:text="${i}" th:classappend="${i == currentPage ? 'active' : ''}"></a>
            <a th:href="@{/company/recruit(page=${currentPage + 1})}"
               th:if="${currentPage < totalPages}">다음</a>
        </div>

    </div>
</div>
<th:block th:include="/common/company_footer"/>
</body>
</html>