<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>롯데ON 스토리</title>
    <link rel="stylesheet" href="/css/company/recruit.css" />
</head>
<body>
<div class="container">
    <th:block th:include="/common/company_header"/>
</div>
<div class="main">
    <div class="content">
        <h1>쇼핑을 새롭게 , 세상을 이롭게 이끌</h1>
        <h1>쇼핑 좀 해본 인재를 모십니다!</h1>
        <h2>
            롯데 ON 은 안정성있고 혁신성있는 우리의 문화를 만들어가고 있어요. <br />
            구성원 들은 수평적이고 자율적인 문화 속에서 선을 넘어 혁신적인 롯데 ON만의 서비스를 만들어요.<br />
            롯데 ON과 함께 큰 흔적을 찍으며 성장하실 분들을 기다립니다.
        </h2>

        <div class="table-title">
            채용공고 리스트
        </div>

        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>채용부서</th>
                <th>경력사항</th>
                <th>채용형태</th>
                <th>제목</th>
                <th>상태</th>
                <th>모집기간</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>4</td>
                <td>광고사업팀</td>
                <td>경력 4 ~ 15년</td>
                <td>정규직</td>
                <td>광고 플랫폼 기획</td>
                <td class="status-active">모집중</td>
                <td>0000-00-00 ~ 0000-00-00</td>
            </tr>
            <tr>
                <td>3</td>
                <td>IT</td>
                <td>경력 2 ~ 15년</td>
                <td>정규직</td>
                <td>IT 인재 상시 영입(경력)</td>
                <td class="status-active">모집중</td>
                <td>0000-00-00 ~ 0000-00-00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>문화</td>
                <td>무관</td>
                <td>계약직</td>
                <td>단기 아르바이트 모집</td>
                <td class="status-end">종료</td>
                <td>0000-00-00 ~ 0000-00-00</td>
            </tr>
            <tr>
                <td>1</td>
                <td>경영</td>
                <td>신입</td>
                <td>계약직</td>
                <td>경영지원 직원 채용 공고</td>
                <td class="status-end">종료</td>
                <td>0000-00-00 ~ 0000-00-00</td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            <a href="#">이전</a>
            <span class="current">1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">다음</a>
        </div>

    </div>
</div>
<th:block th:include="/common/company_footer"/>
</body>
</html>