<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/css/company/story.css" />
</head>
<body>
<div class="container">
    <th:block th:include="/common/company_header"/>
</div>
<div class="main">
    <div class="content">
        <h2>롯데ON을 더 알고 싶다면!</h2>
        <p class="subtitle">우리의 다양한 이야기를 소개합니다</p>

        <nav class="tab-menu">
            <a href="#" class="active" data-category="all">전체보기</a>
            <a href="#" data-category="culture">기업문화</a>
            <a href="#" data-category="interview">인터뷰</a>
            <a href="#" data-category="recruit">채용</a>
            <a href="#" data-category="lotteon">롯데ON</a>
            <a href="#" data-category="press">보도자료</a>
            <a href="#" data-category="esg">ESG</a>
        </nav>


        <div class="card-list">
            <div class="card" data-category="interview">
                <div class="card-header">
                    <img class="card-img" src="/images/img_7.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="interview">
                <div class="card-header">
                    <img class="card-img" src="/images/img_8.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="press">
                <div class="card-header">
                    <img class="card-img" src="/images/img_12.png" alt="썸네일 이미지" />
                    <span class="label">보도자료</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="interview">
                <div class="card-header">
                    <img class="card-img" src="/images/img_9.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="lotteon">
                <div class="card-header">
                    <img class="card-img" src="/images/img_13.png" alt="썸네일 이미지" />
                    <span class="label">롯데ON</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="lotteon">
                <div class="card-header">
                    <img class="card-img" src="/images/img_14.png" alt="썸네일 이미지" />
                    <span class="label">롯데ON</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div><div class="card" data-category="interview">
            <div class="card-header">
                <img class="card-img" src="/images/img_10.png" alt="썸네일 이미지" />
                <span class="label">인터뷰</span>
            </div>
            <div class="card-content">
                <h3>롯데e커머스 사람들 시리즈 24</h3>
                <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
            </div>
        </div>
            <div class="card" data-category="interview">
                <div class="card-header">
                    <img class="card-img" src="/images/img_11.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="lotteon">
                <div class="card-header">
                    <img class="card-img" src="/images/img_15.png" alt="썸네일 이미지" />
                    <span class="label">롯데ON</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="culture">
                <div class="card-header">
                    <img class="card-img" src="/images/img_11.png" alt="썸네일 이미지" />
                    <span class="label">기업문화</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="press">
                <div class="card-header">
                    <img class="card-img" src="/images/img_13.png" alt="썸네일 이미지" />
                    <span class="label">보도자료</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="interview">
                <div class="card-header">
                    <img class="card-img" src="/images/img_13.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="culture">
                <div class="card-header">
                    <img class="card-img" src="/images/img_13.png" alt="썸네일 이미지" />
                    <span class="label">기업문화</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="culture">
                <div class="card-header">
                    <img class="card-img" src="/images/img_10.png" alt="썸네일 이미지" />
                    <span class="label">기업문화</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="esg">
                <div class="card-header">
                    <img class="card-img" src="/images/img_12.png" alt="썸네일 이미지" />
                    <span class="label">ESG</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="recruit">
                <div class="card-header">
                    <img class="card-img" src="/images/img_16.png" alt="썸네일 이미지" />
                    <span class="label">채용</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="recruit">
                <div class="card-header">
                    <img class="card-img" src="/images/img_17.png" alt="썸네일 이미지" />
                    <span class="label">채용</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="recruit">
                <div class="card-header">
                    <img class="card-img" src="/images/img_18.png" alt="썸네일 이미지" />
                    <span class="label">채용</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="recruit">
                <div class="card-header">
                    <img class="card-img" src="/images/img_17.png" alt="썸네일 이미지" />
                    <span class="label">채용</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="esg">
                <div class="card-header">
                    <img class="card-img" src="/images/img_12.png" alt="썸네일 이미지" />
                    <span class="label">ESG</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="esg">
                <div class="card-header">
                    <img class="card-img" src="/images/img_11.png" alt="썸네일 이미지" />
                    <span class="label">ESG</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="esg">
                <div class="card-header">
                    <img class="card-img" src="/images/img_10.png" alt="썸네일 이미지" />
                    <span class="label">ESG</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="interview">
                <div class="card-header">
                    <img class="card-img" src="/images/img_10.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="esg">
                <div class="card-header">
                    <img class="card-img" src="/images/img_15.png" alt="썸네일 이미지" />
                    <span class="label">ESG</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="esg">
                <div class="card-header">
                    <img class="card-img" src="/images/img_15.png" alt="썸네일 이미지" />
                    <span class="label">ESG</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card" data-category="recruit">
                <div class="card-header">
                    <img class="card-img" src="/images/img_13.png" alt="썸네일 이미지" />
                    <span class="label">채용</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
        </div>
        <!-- 모달 구조 추가 -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span id="close-modal" class="close">&times;</span>
                <img id="modal-img" src="" alt="모달 이미지" style="width:100%; height: auto; margin-bottom: 20px;" />
                <h2 id="modal-title">모달 제목</h2>
                <p id="modal-description">상세 내용이 여기에 들어갑니다.</p>
                <span id="modal-label" class="label"></span>
            </div>
        </div>

        <th:block th:include="/common/company_footer"/>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabs = document.querySelectorAll('.tab-menu a');
        const cards = document.querySelectorAll('.card');
        const loadMoreBtn = document.getElementById('load-more');

        tabs.forEach(tab => {
            tab.addEventListener('click', function (e) {
                e.preventDefault();

                // 탭 활성화 처리
                tabs.forEach(t => t.classList.remove('active'));
                tab.classList.add('active');

                const category = tab.getAttribute('data-category');

                cards.forEach(card => {
                    const cardCategory = card.getAttribute('data-category');
                    if (category === 'all' || category === cardCategory) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });
            });
        });

        // 모달 관련 코드
        const modal = document.getElementById('modal');
        const modalImg = document.getElementById('modal-img');
        const closeModal = document.getElementById('close-modal');

        const cardImgs = document.querySelectorAll('.card-img');
        cardImgs.forEach(img => {
            img.addEventListener('click', function () {
                modal.style.display = 'block';
                modalImg.src = this.src;
                modalImg.alt = this.alt;
            });
        });

        closeModal.addEventListener('click', function () {
            modal.style.display = 'none';
        });

        window.addEventListener('click', function (e) {
            if (e.target === modal) {
                modal.style.display = 'none';
            }
        });

        // 처음 보이는 카드 6개로 제한
        const initialCards = Array.from(cards).slice(0, 6);
        initialCards.forEach(card => card.style.display = 'block');

        // 더보기 버튼 클릭 시 숨겨진 카드들 보이게 하기
        loadMoreBtn.addEventListener('click', function() {
            const extraCards = Array.from(cards).slice(10);
            extraCards.forEach(card => {
                card.classList.add('extra-cards'); // 'extra-cards' 클래스 추가
            });
            loadMoreBtn.style.display = 'none'; // 더보기 버튼 숨기기
        });
    });
</script>

</body>
</html>