<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <title>롯데ON 스토리</title>
    <link rel="stylesheet" href="/css/company/story.css" />
</head>
<body>
<div class="container">
    <header>
        <img src="/images/logo/footer_logo.png" alt="롯데온 로고" />
        <nav>
            <a href="#">HOME</a>
            <a href="#">기업문화</a>
            <a href="#">소식과 이야기</a>
            <a href="#">채용</a>
            <a href="#">기술블로그</a>
        </nav>
    </header>
</div>
<div class="main">
    <div class="content">
        <h2>롯데ON을 더 알고 싶다면!</h2>
        <p class="subtitle">우리의 다양한 이야기를 소개합니다</p>

        <nav class="tab-menu">
            <a href="#" class="active">전체보기</a>
            <a href="#">기업문화</a>
            <a href="#">인터뷰</a>
            <a href="#">채용</a>
            <a href="#">롯데ON</a>
            <a href="#">보도자료</a>
            <a href="#">ESG</a>
        </nav>

        <div class="card-list">
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div><div class="card">
            <div class="card-header">
                <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                <span class="label">인터뷰</span>
            </div>
            <div class="card-content">
                <h3>롯데e커머스 사람들 시리즈 24</h3>
                <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
            </div>
        </div>
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img class="card-img" src="/images/bar-img.png" alt="썸네일 이미지" />
                    <span class="label">인터뷰</span>
                </div>
                <div class="card-content">
                    <h3>롯데e커머스 사람들 시리즈 24</h3>
                    <p>아우터 클리어런스 대행 행사 기획으로 대상을 수상한 이진호 MD님을 소개합니다👏🏻</p>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-inner">
                <div class="footer-left">
                    <nav class="footer-nav">
                        <a href="#">HOME</a>
                        <a href="#">기업문화</a>
                        <a href="#">소식과 이야기</a>
                        <a href="#">채용</a>
                        <a href="#">기술블로그</a>
                    </nav>
                    <p class="copyright">© 2022 All rights Reserved</p>
                </div>

                <div class="footer-right">
                    <p class="email">peoplevalue@lotte.net</p>
                    <div class="sns-icons">
                        <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook"></a>
                        <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/twitter.svg" alt="Twitter"></a>
                        <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/google.svg" alt="Google"></a>
                        <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/pinterest.svg" alt="Pinterest"></a>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>