<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/cs/qna/list.css">
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
</head>
<body>
<div id="wrapper">
    <!-- 헤더 포함 -->
    <th:block th:include="/common/_header"/>

    <main>
        <div class="notice-wrapper">
            <div class="notice-path">
                <span>홈</span> &gt; <strong>문의하기</strong>
            </div>

            <div class="cs-container">
                <th:block th:include="/common/_cs_qna_aside.html"/>

                <section class="cs-content">
                    <h3 class="cs-title">쿠폰 / 혜택 / 이벤트</h3>
                    <p class="cs-desc">쿠폰 / 혜택 / 이벤트 관련 문의내용 입니다.</p>

                    <table class="cs-table">
                        <tbody>
                        <tr th:each="qna : ${coupunList}">
                            <td>
                                <!-- qna.id를 포함한 상세 페이지 링크로 변경 -->
                                <a th:href="@{/qna/view/{qnaId}(qnaId=${qna.qnaId})}"
                                   th:text="'[' + ${qna.qnaType2} + '] ' + ${qna.title}"></a>
                            </td>
                            <td>
        <span th:class="${qna.status == null or qna.status == '' or qna.status == '검토중' ? 'status checking' : 'status complete'}"
              th:text="${qna.status == null or qna.status == '' or qna.status == '검토중' ? '검토 중' : '답변완료'}"></span>
                            </td>
                            <td th:text="${qna.user.uid}"></td>
                            <td th:text="${#temporals.format(qna.date, 'yyyy-MM-dd')}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="qna-button">
                        <button>
                            <a th:href="@{/qna/write}">문의하기</a>
                        </button>
                    </div>
                    <div class="pagination">
                        <a th:if="${currentPage > 0}" th:href="@{/qna/coupun-list(page=${currentPage - 1})}">이전</a>
                        <th:block th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                            <a th:classappend="${pageNum - 1 == currentPage} ? 'active'"
                               th:href="@{/qna/coupun-list(page=${pageNum - 1})}"
                               th:text="${pageNum}">1</a>
                        </th:block>
                        <a th:if="${currentPage < totalPages - 1}" th:href="@{/qna/coupun-list(page=${currentPage + 1})}">다음</a>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <!-- 푸터 포함 -->
    <th:block th:include="/common/_footer"/>
</div>
</body>
</html>