<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/cs/qna/list.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>롯데ON 고객센터 - 문의하기 안전거래</title>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */
        });
    </script>
</head>

<body>
    <div id="wrapper">
        <th:block th:include="/common/_header"/>
        <main>

            <div class="notice-wrapper">
                <div class="notice-path">
                    <span>홈</span> &gt; <strong>문의하기</strong>
                </div>


                <div class="cs-container">
                    <th:block th:include="/common/_cs_qna_aside.html"/>
                    <section class="cs-content">
                        <h3 class="cs-title">안전거래</h3>
                        <p class="cs-desc">안전거래 관련 문의내용 입니다.</p>

                        <table class="cs-table">
                            <tbody>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status checking">검토 중</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status complete">답변완료</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status complete">답변완료</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status checking">검토 중</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status checking">검토 중</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status checking">검토 중</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status complete">답변완료</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status checking">검토 중</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status complete">답변완료</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>
                                <tr>
                                    <td><a href="#">[가입] 가입문의내용</a></td>
                                    <td><span class="status complete">답변완료</span></td>
                                    <td>chh***</td>
                                    <td>24.01.01</td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="qna-button">
                            <button onclick="location.href='/cs/qna/write.html'">문의하기</button>
                        </div>

                        <div class="pagination">
                            <a href="#">이전</a>
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">다음</a>
                        </div>

                        
                    </section>
                </div>
            </div>
        </main>

        <th:block th:include="/common/_footer"/>
    </div>
</body>

</html>