<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/cs/qna/view.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });
        });
    </script>
</head>

<body>
<div id="wrapper">
    <th:block th:include="/common/_header"/>

    <main>

        <div class="notice-wrapper">
            <div class="notice-path">
                <span>홈</span> &gt; <strong>문의하기</strong>
            </div>

            <div class="cs-container">
                <th:block th:include="/common/_cs_qna_aside.html"/>

                <section class="cs-content">
                    <h3 class="cs-title">회원</h3>
                    <p class="cs-desc">회원 관련 문의내용 입니다.</p>

                    <div class="qna-view">
                        <div class="qna-question">
                            <div class="qna-meta">
                                <span class="qna-title" th:text="${qna.title}">[가입] 가입문의내용</span>
                                <span class="qna-user" th:text="${qna.user.uid}">chh***</span>
                                <span class="qna-date" th:text="${#temporals.format(qna.date, 'yyyy-MM-dd')}">2022-11-21</span>
                            </div>
                            <div class="qna-question-content" th:text="${qna.content}">회원가입하고 싶은데요. 어떻게 해야하나요 ?</div>
                        </div>

                        <div class="qna-answer">
                            <div class="qna-answer-title" th:text="'[답변] ' + ${qna.title}">[답변] 가입문의내용</div>
                            <div class="qna-answer-content">
                                <span th:if="${qna.answer != null}" th:text="${qna.answer}">답변 내용</span>
                                <span th:if="${qna.answer == null}">답변이 없습니다.</span>
                            </div>
                        </div>
                    </div>

                    <div class="list-button">
                        <button onclick="history.back()">목록</button>
                    </div>

                </section>
            </div>
        </div>
    </main>

    <th:block th:include="/common/_footer"/>
</div>
</body>

</html>
