/* 전체 스타일 */
* {
    margin: 0;
    padding: 0;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
body {
    overflow-x: scroll;
    min-width: 1200px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

/* main */
.container {
    width: 800px;
    margin: 0 auto;
}

.title {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    background-color: #e45450;
}

h2 {
    margin: 5px 0 5px 10px;
}

h3 {
    width: 90%;
    margin: 0 auto 10px auto;
}

.X {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-left: 690px;
    border: none;
    background: none;
    cursor: pointer;
}

.order-num p {
    margin: 0 0 7px 10px;
    font-size: 13px;
}

table {
    width: 90%;
    margin: 0 auto;
    border-top: 3px solid #333;
    border-bottom: 2px solid #b7b7b7;
    border-collapse: collapse;
    box-sizing: border-box;
}

th {
    font-size: 14px;
}

.order-table tr:nth-of-type(1) {
    height: 50px;
}

.order-table tr {
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.order-table td {
    width: 50px;
    font-size: 13px;
    text-align: center;
}

td:nth-of-type(2) {
    margin-left: 30px;
}

img {
    width: 50px;
    height: auto;
}

.detail {
    width: 90%;
    margin: 0 auto;
}

.detail td {
    font-size: 13px;
    padding: 0 20px;
}

.detail table {
    width: 35%;
    float: right;
    border: none;
    background-color: #e0e0e0;
}

.detail tr {
    height: 35px;
    border: none;
    box-sizing: border-box;
}

.detail td:nth-of-type(1) {
    text-align: left;
}

.detail td:nth-of-type(2) {
    text-align: right;
}

.pay-detaile {
    margin-top: 100px;
}

.pay-detaile td {
    font-size: 14px;
}

.pay-detaile td:nth-of-type(1) {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #e0e0e0;
}

.pay-detaile td:nth-of-type(2) {
    width: 400px;
    padding-left: 20px;
}

.pay-detaile td:nth-of-type(3), td:nth-of-type(4) {
    font-size: 14px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.delivery-detaile {
    margin-top: 30px;
}

.delivery-detaile td {
    font-size: 14px;
}

.delivery-detaile td:nth-of-type(1) {
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #e0e0e0;
}

.delivery-detaile td:nth-of-type(2) {
    padding-left: 20px;
}