<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/config/register_version_popup.css">
    <title>Register_Version</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <h2>버전등록</h2>
            <button class="X">X</button>
        </div>
        <div class="content">
            <div class="form">
                    <table>
                        <tr>
                            <td>버전</td>
                            <td><input type="text" class="input" placeholder="버전입력하기"></td>
                        </tr>
                        <tr>
                            <td>변경내역</td>
                            <td><input type="text" placeholder="변경내역 작성하기"></td>
                        </tr>
                    </table>
            </div>
        </div>
        <div class="button">
            <button class="register">등록하기</button>
        </div>
    </div>
</body>
</html>