<!-- templates/myaccount/buy.html -->
    <div th:fragment="modalContent">
    <link rel="stylesheet" th:href="@{/css/myaccount/buy.css}" />

    <main>
        <div class="message-log">
            <div class="message-title">상품평작성하기</div>
            <button class="close-btn" onclick="closeModal()">X</button>
        </div>

        <div class="message">
            <p>상품을 받으셨나요?<br>
                상품을 받으신 분만 구매확정을 해주세요.</p>
        </div>

        <div class="main_container">
            <div class="M-button">
                <button class="moon" onclick="confirmBuy()">확인</button>
                <button class="moon" onclick="closeModal()">취소</button>
            </div>
        </div>
    </main>
</div>