<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/css/common/_header.css" />
    <link rel="stylesheet" href="/css/common/_footer.css" />
    <link rel="stylesheet" href="/css/myaccount/info.css" />       
</head>
<body>
<th:block th:include="/common/_header"/>
<main>
    <th:block th:include="/common/_myaccount_top"/>

    <div class="main_container">
        <th:block th:include="/common/_myaccount_sied"/>
        <div class="content">
            <div class="banner">810 × 86 배너 광고</div>
            <h2>나의 설정</h2>
            <table>
                <tr>
                    <td class="label">사용자 ID</td>
                    <td>chh****</td>
                </tr>
                <tr>
                    <td class="label">비밀번호</td>
                    <td><button class="btn-black">비밀번호수정</button></td>
                </tr>
                <tr>
                    <td class="label">이름</td>
                    <td>김 *학</td>
                </tr>
                <tr>
                    <td class="label">생년 월일</td>
                    <td>1999년 01월 01일</td>
                </tr>
                <tr>
                    <td class="label">Email</td>
                    <td>
                        <form>
                            <input class="text-le" type="text" placeholder="아이디 입력" id="emailId"> @
                            <input class="text-le" type="text" id="emailaddr" placeholder="주소 입력" disabled>

                            <select id="domainSelect" onchange="updateDomain()">
                                <option value="">-- 메일 입력 --</option>
                                <option value="naver.com">naver.com</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="kakao.com">kakao.com</option>
                                <option value="direct">직접 입력</option>
                            </select>
                            <button class="btn-black">수정하기</button>
                        </form>
                    </td>
                </tr>
                <tr>
                  <td class="label">휴대폰</td>
                    <td>
                        <div class="phone-box">
                            <input type="tel" placeholder="010"> -
                            <input type="tel" placeholder="1234"> -
                            <input type="tel" placeholder="5678">
                            <button class="btn-black">수정하기</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">주소</td>
                    <td>
                        <div class="address-box">
                            <input class="text-le" type="text" placeholder="우편번호">
                            <button class="btn-black">주소검색</button>
                        </div>
                        <input class="text-le" type="text"  placeholder="기본주소검색" style="width: 350px;" >
                        <input class="text-le" type="text"  placeholder="상세주소입력" style="width: 350px;" >
                    </td>
                </tr>
                <tr>
                    <td class="label">회원탈퇴</td>
                    <td><button class="btn-red">탈퇴하기</button></td>
                </tr>
            </table>
        <button class="btn-blue">수정하기</button>
        </div>
    </div>
</main>
    <th:block th:include="/common/_footer"/>
   <script src="/js/head.js"></script>
   <script src="/js/email.js"></script>
  </body>
</html>