<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/css/common/_header.css" />
    <link rel="stylesheet" href="/css/common/_footer.css" />
    <link rel="stylesheet" href="/css/myaccount/point.css" />       
</head>
<body>
<th:block th:include="/common/_header"/>
    <main>
        <th:block th:include="/common/_myaccount_top"/>
    <div class="main_container">
        <th:block th:include="/common/_myaccount_sied"/>
          <div class="content">
              <div class="banner_top">810 × 86 배너 광고</div>
            <h2>포인트내역</h2>
            <div class="date-such">
                <div class="query-row">
                  <span>기간별조회</span>
                  <div class="button-group" id="fixedButtons">
                    <button onclick="setFixedRange(7)">7일</button>
                    <button onclick="setFixedRange(15)">15일</button>
                    <button onclick="setFixedRange(30)">1개월</button>
                    <div class="border-line"></div> 
                  </div>
                  <div class="button-group" id="monthButtons"></div> 
                  <div class="border-line"></div> 
                  <div class="date-check">
                    <input type="date" id="startDate"> ~
                    <input type="date" id="endDate">
                    <button onclick="query()" style="width: 55px; height: 35px; margin-left: 5px;">조회</button>
                  </div>
                </div>
              </div>
            <div class="section">
                <table class="table">
                  <thead>
                    <tr>
                      <th>날짜</th>
                      <th>구분</th>
                      <th>주문번호</th>
                      <th>적립금액</th>
                      <th>비고</th>
                      <th>유효기간</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2022-12-13</td>
                      <td>적립</td>
                      <td>2022121001</td>
                      <td>340</td>
                      <td>상품 구매확정</td>
                      <td>2024-12-10</td>
                    </tr>
                    <tr>
                      <td>2022-12-13</td>
                      <td>적립</td>
                      <td>2022120601</td>
                      <td>120</td>
                      <td>상품 구매확정</td>
                      <td>2024-12-06</td>
                    </tr>
                    <tr>
                        <td>2022-12-13</td>
                        <td>적립</td>
                        <td>2022120601</td>
                        <td>120</td>
                        <td>상품 구매확정</td>
                        <td>2024-12-06</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <th:block th:include="/common/_footer"/>
    <script src="/js/date.js"></script>
    <script src="/js/head.js"></script>
  </body>
  </html>