<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/css/common/_header.css" />
    <link rel="stylesheet" href="/css/common/_footer.css" />
    <link rel="stylesheet" href="/css/myaccount/coupon.css" />       
</head>
<body>
    <th:block th:include="/common/_header"/>
    <main>
        <th:block th:include="/common/_myaccount_top"/>
    <div class="main_container">
        <th:block th:include="/common/_myaccount_sied"/>
          <div class="content">
              <div class="banner_top">810 × 86 배너 광고</div>
            <h2>문의하기</h2>
              <table class="qna-table">
                  <thead>
                  <tr>
                      <th>번호</th>
                      <th>문의채널</th>
                      <th>문의유형</th>
                      <th>제목</th>
                      <th>작성일</th>
                      <th>상태</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr th:each="qna, stat : ${qnaList}">
                          <td th:text="${stat.index + 1}">1</td>
                          <td th:text="${qna.qnaType1}">고객센터</td>
                          <td th:text="${qna.qnaType2}">주문/결제</td>
                          <td th:text="${qna.title}">제목</td>
                          <td th:text="${#temporals.format(qna.date, 'yyyy-MM-dd')}">날짜</td>
                          <td th:text="${qna.status}"
                              th:classappend="${qna.status == '답변완료'} ? 'status-done' : 'status-pending'">
                              상태
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="pagination">
                    <button>&lt; 이전</button>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                    <button>다음 &gt;</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <th:block th:include="/common/_footer"/>
    <script src="/js/head.js"></script>
   
  </body>
  </html>