<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/common/_header.css" />
    <link rel="stylesheet" href="/css/common/_footer.css" />
    <link rel="stylesheet" href="/css/myaccount/coupon.css" />       
</head>
<body>
    <th:block th:include="/common/_header"/>
    <main>
        <th:block th:include="/common/_myaccount_top"/>
    <div class="main_container">
        <th:block th:include="/common/_myaccount_sied"/>
          <div class="content">
            <div class="banner">810 × 86 배너 광고</div>
            <h2>문의하기</h2>
                <table class="inquiry-table">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>문의채널</th>
                        <th>문의유형</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>고객센터</td>
                        <td>주문 / 결제</td>
                        <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요 ?</td>
                        <td>2022-12-12</td>
                        <td class="status-pending">검토중</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>고객센터</td>
                        <td>주문 / 결제</td>
                        <td>신용카드 결제 중 오류가 난 경우 어떻게 하나요 ?</td>
                        <td>2022-12-12</td>
                        <td class="status-done">답변완료</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>판매자<br>게시판</td>
                        <td>배송</td>
                        <td>배송기간이 보통 얼마나 걸리나요 ?</td>
                        <td>2022-12-12</td>
                        <td class="status-done">답변완료</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <button>&lt; 이전</button>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                    <button>다음 &gt;</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <th:block th:include="/common/_footer"/>
    <script src="/js/head.js"></script>
   
  </body>
  </html>