<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */

            new Swiper('.hit-swiper', {
                slidesPerView: 5,
                spaceBetween: 20,
                navigation: {
                    nextEl: '.hit-next',
                    prevEl: '.hit-prev',
                }
            });

            new Swiper('.rec-swiper', {
                slidesPerView: 5,
                spaceBetween: 20,
                navigation: {
                    nextEl: '.rec-next',
                    prevEl: '.rec-prev',
                }
            });

            new Swiper('.new-swiper', {
                slidesPerView: 5,
                spaceBetween: 20,
                navigation: {
                    nextEl: '.new-next',
                    prevEl: '.new-prev',
                }
            });

            new Swiper('.sale-swiper', {
                slidesPerView: 5,
                spaceBetween: 20,
                navigation: {
                    nextEl: '.sale-next',
                    prevEl: '.sale-prev',
                }
            });

            new Swiper('.main-banner-swiper', {
                slidesPerView: 3,
                spaceBetween: 60,
                loop: true,
                navigation: {
                    nextEl: '.main-next',
                    prevEl: '.main-prev'
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false
                }
            });
        });
    </script>
</head>

<body>
    <div id="wrapper">
        <th:block th:include="/common/_header"/>
        <main>
            <div class="main-banner-section">
                <div class="swiper main-banner-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="/images/banner/main_slider (1).webp" alt="배너1"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (2).webp" alt="배너2"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (3).webp" alt="배너3"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (4).webp" alt="배너4"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (5).webp" alt="배너5"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (6).webp" alt="배너6"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (7).webp" alt="배너7"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (8).webp" alt="배너8"></div>
                        <div class="swiper-slide"><img src="/images/banner/main_slider (9).webp" alt="배너9"></div>
                    </div>

                    <!-- 네비게이션 & 페이지네이션 -->
                    <div class="swiper-button-next main-next"></div>
                    <div class="swiper-button-prev main-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <article class="content">
                <aside class="sidebar">
                    <div class="best-items">
                        <h3 class="best">베스트 상품</h3>
                        <div class="best-main">
                            <img class="best-image" src="/images/product/market_item2.jpg" alt="베스트상품1">
                            <p class="best-title">상품명</p>
                            <div class="price-wrap">
                                <span class="best-price">30,000원</span>
                                <span class="discount">10% ↓</span>
                            </div>
                            <p class="now">27,000원</p>
                        </div>
                        <div class="best-sub">
                            <img class="best-image" src="/images/product/market_item3.jpg" alt="상품2">
                            <div>
                                <p class="best-title">상품명</p>
                                <div class="price-wrap">
                                    <span class="best-price">30,000원</span>
                                    <span class="discount">10% ↓</span>
                                </div>
                                <p class="now">27,000원</p>
                            </div>
                        </div>
                        <div class="best-sub">
                            <img class="best-image" src="/images/product/market_item4.jpg" alt="상품3">
                            <div>
                                <p class="best-title">상품명</p>
                                <div class="price-wrap">
                                    <span class="best-price">30,000원</span>
                                    <span class="discount">10% ↓</span>
                                </div>
                                <p class="now">27,000원</p>
                            </div>
                        </div>
                        <div class="best-sub">
                            <img class="best-image" src="/images/product/market_item4.jpg" alt="상품3">
                            <div>
                                <p class="best-title">상품명</p>
                                <div class="price-wrap">
                                    <span class="best-price">30,000원</span>
                                    <span class="discount">10% ↓</span>
                                </div>
                                <p class="now">27,000원</p>
                            </div>
                        </div>
                        <div class="best-sub">
                            <img class="best-image" src="/images/product/market_item4.jpg" alt="상품3">
                            <div>
                                <p class="best-title">상품명</p>
                                <div class="price-wrap">
                                    <span class="best-price">30,000원</span>
                                    <span class="discount">10% ↓</span>
                                </div>
                                <p class="now">27,000원</p>
                            </div>
                        </div>
                    </div>
                </aside>

                <section class="main-content">
                    <div class="product-slide-section">
                        <div class="slide-header">
                            <h3 class="product-title">히트상품</h3>
                            <div class="swiper-button-next hit-next"></div>
                            <div class="swiper-button-prev hit-prev"></div>
                        </div>

                        <div class="swiper hit-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item4.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item5.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-slide-section">
                        <div class="slide-header">
                            <h3 class="product-title">추천상품</h3>
                            <div class="swiper-button-next rec-next"></div>
                            <div class="swiper-button-prev rec-prev"></div>
                        </div>

                        <div class="swiper rec-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item4.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item5.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-slide-section">
                        <div class="slide-header">
                            <h3 class="product-title">최신상품</h3>
                            <div class="swiper-button-next new-next"></div>
                            <div class="swiper-button-prev new-prev"></div>
                        </div>

                        <div class="swiper new-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item4.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item5.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-slide-section">
                        <div class="slide-header">
                            <h3 class="product-title">할인상품</h3>
                            <div class="swiper-button-next sale-next"></div>
                            <div class="swiper-button-prev sale-prev"></div>
                        </div>

                        <div class="swiper sale-swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item4.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item5.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item1.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item2.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-card">
                                        <img src="/images/product/market_item3.jpg" alt="상품">
                                        <div class="product-info">
                                            <p class="product-name">상품명</p>
                                            <p class="product-price"><span class="original">30,000원</span><span
                                                    class="discount">10%</span></p>
                                            <p class="final-price">27,000원</p>
                                            <p class="delivery">무료배송</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        <th:block th:include="/common/_footer"/>
    </div>
</body>

</html>