<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_admin_header.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>admin header</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div class="wrapper-suv">
                <div class="user-nav">
                    <ul>
                        <li><a href="#">홈</a></li>
                        <li><a href="#">로그아웃</a></li>
                        <li><a href="#">고객센터</a></li>
                    </ul>
                </div>
                <div class="logo">
                    <a href="#"><img src="/images/logo/logo_white.png" alt="LotteON-logo"></a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>