main{
    width: 450px;
    height: 350px;
    margin: 0 auto;
    background-color: #fff;
   
}
.main_container{
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}


.message-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A90E2;
    color: white;
    padding: 10px 10px;
}

.message-title {
    font-size: 16px;
    font-weight: bold;
}



/* 버튼부분 */ 
.M-button{
    margin-left: 40px;
}
.moon:hover {
    background: #0056b3;
    color: white;
    }
.moon{
    width: 150px;
    height: 40px;
    margin : 3px;
}

.close-btn {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    background-color: #4A90E2;
    border: none;
}


.message {
    margin: 0 auto;
    padding: 50px;
}

