/* 전체 스타일 */
* {
    margin: 0;
    padding: 0;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
body {
    overflow-x: scroll;
    min-width: 1200px;
}

.setting h1 {
    color: #333;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.main h2 {
    color: #333;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* main */
.main-wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

aside {
    width: 200px;
    height: auto;
    margin: 80px 0 0 50px;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
}

.aside a {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.aside li {
    text-align: center;
}

.ul-list {
    margin-top: 10px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #b7b7b7;
}

.ul-list:last-child {
    border-bottom: none;
}

.ul-list li:nth-of-type(1) a {
    margin-top: -3px;
}

.fas {
    margin: 0 5px 0 0;
}

.main {
    border: 1px solid #b7b7b7;
    border-bottom: none;
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.setting {
    display: flex;
    margin: 30px 0 0 20px;
}

.setting ul {
    margin-left: 640px;
    margin-top: 13px;
}

.setting li {
    display: inline;
}

.setting a {
    color: #333;
    font-size: 15px;
}

.setting span {
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 940px;
    margin: 0 auto;
    margin-top: -10px;
    border-bottom: 3px solid #b7b7b7;
    box-sizing: border-box;
}

.in-ul {
    display: none;
}

.ul-list > li.active > .in-ul {
    display: block;
}

.container {
    width: 940px;
    margin: 0 auto;
}

h2 {
    margin-top: 30px;
}

.p-div {
    width: 100%;
    height: 30px;
    margin-top: -5px;
    background-color: #e0e0e0;
}

.container p {
    padding: 8px 0 8px 10px;
    font-weight: 600;
    font-size: 13px;
}

.cate-info {
    width: 940px;
    padding-top: 3px;
    margin: 30px 0 60px 0;
    background-color: #ffe2b6;
}





/* 카테고리 */
.category {
    width: 350px;
}

a {
    color: #333;
}

.category button {
    width: 40px;
    height: 25px;
    color: #df342e;
    cursor: pointer;
    float: right;
    border: 1px solid #db524d;
    background-color: #fff;
    box-sizing: border-box;
}

.category li {
    width: 100%;
    margin: 10px auto;
}

.category li a {
    font-size: 15px;
}

.acodion-menu > li {
    padding: 10px;
    border: 3px solid #e0e0e0;
    box-sizing: border-box;
}

.sub {
    margin-left: 20px;
}

.modify {
    border: none;
    width: 80px;
    height: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    float: right;
    background-color: #333;
    box-sizing: border-box;
    margin-bottom: 30px;
}

/* js */
.sub {
    display: none;
}

li.active > .sub {
    display: block;
}

.acodion-menu > li.active > ul {
    display: block;
}


.in-ul {
    display: none;
}

.ul-list > li.active > ul {
    display: block;
}

.in-ul li {
    margin: 5px 0;
}

.in-ul li:first-of-type {
    margin-top: 10px;
}

.in-ul li a {
    font-size: 14px;
}

.in-ul li a:hover {
    text-decoration: underline;
}
.click {
    cursor: move;
}
