.sidebar {
    width: 310px;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.best-items {
    margin-top: 20px;
}

.best-title {
    font-size: 18px;
    font-weight: bold
}

.best-main {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.best-sub {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 0;
}

.best-image {
    width: 150px;
}

.discount {
    color: #C00000;
    font-size: 15px;
}

.best {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.now {
    font-size: 16px;
}


.best-price {
    text-decoration: line-through;
}

.price-wrap {
    font-size: 15px;
}

.price-wrap .best-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 5px;
}

.price-wrap .discount {
    color: #C00000;
    font-weight: bold;
}