<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/View/css/myaccount/exchange.css" /> 
</head>
<body>
    <main>
        <div class="message-log">
            <div class="message-title">교환하기</div>
            <button class="close-btn" onclick="parent.document.getElementById('modalOverlay').style.display='none'">X</button>
          </div>
        </div>
        <div class="main_container">
              <div class="porduct-title">
                  <div class="a-list">주문정보</div>
              </div>    
              <div class="order-list">
                <div class="order-header">
                  <div class="order-date_1">날짜</div>
                  <div class="order-info_1">상품정보</div>
                  <div class="order-status_1">결제금액</div>
                  <div class="order-actions_1">상태</div>
                </div>
                <div class="order-row">
                  <div class="order-date_1">2022-12-13</div>
                  <div class="order-info_num_1">
                    <div class="order-img_1"></div>
                    <div class="order-text_1">
                      주문번호 : 1012211341<br/>
                      (주) 상호명<br/>
                      상품명<br/>
                      수량 : 1개<br/>
                      <strong>34,000원</strong>
                    </div>
                  </div>
                  <div class="order-statuss_1">
                    판매가 <br>
                    할인 <br><br>
                    결제금액 
                  </div>
                  <div class="order-statust_1">
                    37,000원<br>
                    -3,000원<br><br>
                    34,000원
                  </div>
                  <div class="order_aec1_1">
                    배송완료
                  </div>
               </div>   
            </div>
            <div>
              <p>교환정보 입력</p>
              <table class="table-container">
                <tr>
                  <th>교환유형</th>
                  <td>
                    <a><input type="radio" name="check"/>단순 교환</a>
                    <a><input type="radio" name="check"/>파손 및 불량</a>
                    <a><input type="radio" name="check"/>주문 실수</a>
                    <a><input type="radio" name="check"/>기타</a>
                  </td>
                </tr>
                <tr>
                  <th>사유입력</th>
                  <td><textarea text></textarea></td>
                </tr>
                <tr>
                  <th>사진첨부(선택)</th>
                  <td>
                    <div class="file-upload">
                      <input type="file">
                    </div>
                  </td>
                </tr>
            </table>
                </table>
            </div>
            <div class="M-button">
              <button class="moon" onclick="parent.document.getElementById('modalOverlay').style.display='none'">교환신청</button>
              <button class="moon" onclick="parent.document.getElementById('modalOverlay').style.display='none'">취소</button>
          </div>
      </div>                
    </main>   
</body>
</html>