.find-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

.find-wrapper h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: start;
}

.find-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: 'Noto Sans KR', sans-serif;
}

.find-wrapper h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.pw-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
  text-align: start;
}

.pw-desc {
  font-size: 15px;
  color: #555;
  margin-bottom: 30px;
  text-align: start;
}

.pw-form .form-group {
  margin-bottom: 25px;
}

.pw-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
  text-align: start;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 94%;
  padding: 13px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 2px;
}

.eye-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

.guide {
  margin-top: 5px;
  font-size: 13px;
  color: #777;
  letter-spacing: 0.5px;
  text-align: start;
}

.submit-btn {
  margin-top: 40px;
}

.submit-btn button {
  background-color: #e60023;
  color: white;
  border: none;
  padding: 14px 0;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}