<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    </style>
</head>
<body>
    <div class="top-title">
        <div>
            <h2>LotteOn 서비스 이용약관</h2>
            <div class="top-me">
                <li>구매회원 약관</li>
                <li>판매회원 약관</li>
                <li>전자금융거래</li>
                <li>위치정보 약관</li>
                <li>개인정보처리</li>
            </div>
        </div>
        
    </div>
</body>
</html>