/* 전체 스타일 */
* {
    margin: 0;
    padding: 0;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
body {
    overflow-x: scroll;
    min-width: 1200px;
}

.setting h1 {
    color: #333;
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 20px;
}

.main h2 {
    color: #333;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* main */
.main-wrapper {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

aside {
    width: 200px;
    height: auto;
    margin: 80px 0 0 50px;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
}

.aside a {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.aside li {
    text-align: center;
}

.ul-list {
    margin-top: 10px;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #b7b7b7;
}

.ul-list:last-child {
    border-bottom: none;
}



.ul-list li:nth-of-type(1) a {
    margin-top: -3px;
}

.fas {
    margin: 0 5px 0 0;
}

.main {
    border: 1px solid #b7b7b7;
    border-bottom: none;
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.setting {
    display: flex;
    margin: 30px 0 0 20px;
}

.setting ul {
    margin-left: 630px;
    margin-top: 13px;
}

.setting li {
    display: inline;
}

.setting a {
    color: #333;
    font-size: 15px;
}

.setting span {
    color: #333;
    font-size: 15px;
    font-weight: 600;
}

.line {
    width: 940px;
    margin: 0 auto;
    margin-top: -10px;
    border-bottom: 3px solid #b7b7b7;
    box-sizing: border-box;
}

.in-ul {
    display: none;
}

.in-ul.active {
    display: block;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.category-button {
    width: 200px;
    height: 50px;
    font-size: 13px;
    padding-top: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.category-button.active {
    background-color: #f0f0f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
}

table td div:nth-of-type(1) {
    margin-bottom: 5px;
}

th, td {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

th {
    height: 50px;
    font-weight: 600;
    background-color: #f2f2f2;
}

th:nth-of-type(3) {
    padding-left: 32px;
}

td:nth-of-type(3) {
    padding-left: 32px;
}

td:nth-of-type(4) {
    padding-left: 45px;
    text-align: left;
}

img {
    width: 60px;
}

button {
    font-size: 13px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.click {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 30px 0;
}

.button {
    width: 100px;
    height: 40px;
    font-size: 14px;
    color: #fff;
}

.select-delete {
    background-color: #333;
}

.banner-register {
    background-color: #d3514a;
}

/* js */
.slider-banner {
    display: none;
}

.product-banner {
    display: none;
}

.login-banner {
    display: none;
}

.mypage-banner {
    display: none;
}

/* 추가 */

.in-ul {
    display: none;
}

.ul-list > li.active > ul {
    display: block;
}

.in-ul li {
    margin: 5px 0;
}

.in-ul li:first-of-type {
    margin-top: 10px;
}

.in-ul li a {
    font-size: 14px;
}

.in-ul li a:hover {
    text-decoration: underline;
}

/* 모달 */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal {
    width: 800px;
    height: 60%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
}


iframe {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    border: none;
    overflow: hidden;
}

.btn {
    width: 100px;
    padding: 10px 20px;
    cursor: pointer;
}