/* 전체 스타일 */
* {
    margin: 0;
    padding: 0;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
body {
    overflow-x: scroll;
    min-width: 1200px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

/* main */
.container {
    width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 25px;
}

.title {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    color: #fff;
    background-color: #e45450;
}

h2 {
    margin: 5px 0 5px 10px;
}

.X {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-left: 690px;
    border: none;
    background: none;
    cursor: pointer;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-top: 2px solid #b7b7b7;
    border-bottom: 2px solid #b7b7b7;
    box-sizing: border-box;
}

tr {
    height: 60px;
    border-top: 1px solid #e0e0e0;
    box-sizing: border-box;
}

td {
    width: 50px;
    font-size: 14px;
    text-align: center;
}

td:nth-of-type(1) {
    background-color: #f3f3f3;
}

td:nth-of-type(2) {
    text-align: left;
    padding-left: 15px;
}

tr:nth-of-type(2) td:nth-of-type(2) {
    height: 200px;
}

.button {
    width: 90%;
    margin: 30px auto 0 auto;
    text-align: center;
}

.close {
    width: 100px;
    height: 35px;
    font-size: 15px;
    padding-bottom: 2px;
    border: none;
    color: #fff;
    background-color: #d3514a;
    cursor: pointer;
}