<aside class="cs-sidebar">
  <h3>자주묻는질문</h3>
  <ul class="cs-menu">
    <a th:href="@{/faq/member-list}">
      <li id="member">회원</li>
    </a>
    <a th:href="@{/faq/coupon-list}">
      <li id="coupon">쿠폰 / 혜택 / 이벤트</li>
    </a>
    <a th:href="@{/faq/order-list}">
      <li id="order">주문 / 결제</li>
    </a>
    <a th:href="@{/faq/delivery}">
      <li id="delivery">배송</li>
    </a>
    <a th:href="@{/faq/return-list}">
      <li id="return">취소/ 반품 / 교환</li>
    </a>
    <a th:href="@{/faq/trip-list}">
      <li id="trip">여행 / 숙박 / 항공</li>
    </a>
    <a th:href="@{/faq/safy}">
      <li id="safy">안전거래</li>
    </a>
  </ul>
</aside>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const path = location.pathname;

    if (path.includes("member")) {
      document.getElementById("member").classList.add("active");
    }else if (path.includes("coupon")) {
      document.getElementById("coupon").classList.add("active");
    }else if (path.includes("order")) {
      document.getElementById("order").classList.add("active");
    }else if (path.includes("delivery")) {
      document.getElementById("delivery").classList.add("active");
    }else if (path.includes("return")) {
      document.getElementById("return").classList.add("active");
    }else if (path.includes("trip")) {
      document.getElementById("trip").classList.add("active");
    }else if (path.includes("safy")) {
      document.getElementById("safy").classList.add("active");
    }
  });
</script>
