<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <header>
        <div class="wrapper">
            <div class="banner">
                <p>1200*80 배너광고</p>
            </div>
            <div class="user-nav">
                <ul>
                    <li><a href="#">로그인/회원가입</a></li>
                    <li><a href="#">주문배송</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            </div>
            <div class="top-header">
                <div class="inner-top-header">
                    <div class="logo">
                        <a href="#"><img src="/images/logo/logo.png" alt="LotteON 로고"></a>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="검색어를 입력하세요">
                        <button class="search-button">
                            <img src="/images/search.png" alt="검색 클릭">
                        </button>
                    </div>
                    <div class="user-nav2">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="/images/wishlist.svg" alt="나의 찜">
                                    <span>나의 찜</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/images/mypage.svg" alt="마이페이지">
                                    <span>마이롯데</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/images/cart.svg" alt="장바구니">
                                    <span>장바구니</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-border">
            <div class="nav">
                <div class="bar">
                    <button type="button"><img src="/images/bar.png" alt="전체메뉴"></button>
                    <ul class="bar-cate">
                        <li class="bar-sub-cate">
                            <a href="#">뷰티</a>
                            <!--<ul class="sub-cate">
                                <li><a href="#">럭셔리 스킨케어</a></li>
                                <li><a href="#">스킨케어</a></li>
                                <li><a href="#">메이크업</a></li>
                                <li><a href="#">향수</a></li>
                                <li><a href="#">헤어/바디</a></li>
                                <li><a href="#">남성화장품</a></li>
                                <li><a href="#">뷰티기기/소품</a></li>
                                <li><a href="#">네일</a></li>
                            </ul>-->
                        </li>
                        <li><a href="#">여성패션</a></li>
                        <li><a href="#">남성패션</a></li>
                        <li><a href="#">럭셔리</a></li>
                        <li><a href="#">유아동</a></li>
                        <li><a href="#">스포츠/레저</a></li>
                        <li><a href="#">식품</a></li>
                        <li><a href="#">생활/건강</a></li>
                        <li><a href="#">컴퓨터/게임/모바일</a></li>
                        <li><a href="#">가전</a></li>
                        <li><a href="#">가구/인테리어</a></li>
                        <li><a href="#">자동차/공구</a></li>
                        <li><a href="#">반려동물</a></li>
                    </ul>
                </div>
                <div class="list">
                    <ul>
                        <li><a href="#">주말룩</a></li>
                        <li class="home"><a href="#">홈</a></li>
                        <li><a href="#">특가</a></li>
                        <li><a href="#">패션</a></li>
                        <li><a href="#">뷰티</a></li>
                        <li><a href="#">라이프</a></li>
                        <li><a href="#">베스트</a></li>
                        <li><a href="#">여행</a></li>
                        <li><a href="#">백화점</a></li>
                        <li><a href="#">내일ON다</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                </div>
                <div class="all">
                    <img src="/images/+.png" alt="전체보기" class="full-view">
                    <ul class="full-menu">
                        <li><span>전체보기</span></li>
                        <div class="line"></div>
                        <li><a href="#">주말룩</a></li>
                        <li><a href="#" class="home">홈</a></li>
                        <li><a href="#">특가</a></li>
                        <li><a href="#">패션</a></li>
                        <li><a href="#">뷰티</a></li>
                        <li><a href="#">라이프</a></li>
                        <li><a href="#">쉬즈미스</a></li>
                        <li><a href="#">LG전자</a></li>
                        <li><a href="#">베스트</a></li>
                        <li><a href="#">여행</a></li>
                        <li><a href="#">백화점</a></li>
                        <li><a href="#">내일ON다</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                </div>
                <div class="rank">
                    <ul class="rank-list">
                        <li class="rank-item"><a href="#">1&nbsp;&nbsp;&nbsp;트위드자켓&nbsp;&nbsp;&nbsp;1 ▲</a></li>
                    </ul>
                </div>
                <div class="ranking-nav" id="rank-nav">
                    <p>1~10위</p>
                    <div class="rank-line"></div>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">트위드자켓</a></li>
                        <li><a href="#">-</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">2</a></li>
                        <li><a href="#">스튜디오톰보이</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">3</a></li>
                        <li><a href="#">캉골가방</a></li>
                        <li><a href="#"><span class="down">1 ▼</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">4</a></li>
                        <li><a href="#">바로드숑</a></li>
                        <li><a href="#">-</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">5</a></li>
                        <li><a href="#">나이스클랍</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">6</a></li>
                        <li><a href="#">써스데이아일랜드</a></li>
                        <li><a href="#"><span class="up">3 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">7</a></li>
                        <li><a href="#">여성봄자켓</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">8</a></li>
                        <li><a href="#">뉴발란스운동화</a></li>
                        <li><a href="#"><span class="up">2 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">9</a></li>
                        <li><a href="#">나이키운동화</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">10</a></li>
                        <li><a href="#">샤넬</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</html>