<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <header>
        <div class="wrapper">
            <div class="banner">
                <div class="main-top-banner" th:if="${main1Banner != null}">
                    <a th:href="${main1Banner.link}">
                        <img th:src="${main1Banner.imageUrl}" th:alt="${main1Banner.bannerName}" />
                    </a>
                </div>
            </div>

            <div class="user-nav">
                <ul>
                    <!-- 비로그인 상태 -->
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/member/login}">로그인</a> &nbsp;&nbsp; <a th:href="@{/member/join}">회원가입</a>
                    </li>

                    <!-- 비로그인 상태 -->
<!--                    <li th:if="${session.user == null and session.seller == null}">-->
<!--                        <a th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a> &nbsp;&nbsp; <a th:href="@{/member/join}">회원가입</a>-->
<!--                    </li>-->

                    <!-- 로그인 상태 (일반, 판매자) -->
                    <li sec:authorize="isAuthenticated()">
                        <span th:text="${#authentication.principal.username} + '님&nbsp;&nbsp;환영합니다 ' + '&nbsp;&nbsp;'"></span>
                        <a th:href="@{/logout}">로그아웃</a>
                    </li>

                    <!-- 일반 사용자 로그인 상태 -->
<!--                    <li th:if="${session.user != null}">-->
<!--                        <span th:text="'환영합니다, ' + ${session.user.uname} + '님'"></span>-->
<!--                        <a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>-->
<!--                    </li>-->

                    <!-- 판매자 로그인 상태 -->
<!--                    <li sec:authorize="isAuthenticated()">-->
<!--                        <span>안녕하세요, <span sec:authentication="name"></span>님</span>-->
<!--                        <a th:href="@{/logout}">로그아웃</a>-->
<!--                    </li>-->

                    <!-- 판매자 로그인 상태 -->
  <!--                  <li th:if="${session.seller != null}">-->
  <!--                     <span th:text="'환영합니다 판매자님 (' + ${session.seller.aid} + ')'"></span>-->
   <!--                     <a th:href="@{/logout}" sec:authorize="isAuthenticated()">로그아웃</a>-->
    <!--               </li> -->

                    <!-- 관리자 전용 메뉴 -->
                    <li sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/admin/index}">관리자페이지</a>
                    </li>

                    <!-- 관리자 전용 메뉴 -->
<!--                    <li th:if="${session.user != null and session.user.role == 'ADMIN'}">-->
<!--                        <a th:href="@{/admin/index}">관리자페이지</a>-->
<!--                    </li>-->

                    <!-- 공통 메뉴 -->
                    <li><a th:href="@{/admin/order/delivery}">주문배송</a></li>
                    <li><a th:href="@{/cs/index}">고객센터</a></li>
                </ul>
            </div>
            <div class="top-header">
                <div class="inner-top-header">
                    <div class="logo">
                        <a th:href="@{/}"><img th:src="@{'/uploads/' + ${logo.headerFile}}" alt="헤더 로고"></a>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="검색어를 입력하세요">
                        <button class="search-button">
                            <img src="/images/search.png" alt="검색 클릭">
                        </button>
                    </div>
                    <div class="user-nav2">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="/images/wishlist.svg" alt="나의 찜">
                                    <span>나의 찜</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/myaccount/order}">
                                    <img src="/images/mypage.svg" alt="마이페이지">
                                    <span>마이롯데</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/images/cart.svg" alt="장바구니">
                                    <span>장바구니</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-border">
            <div class="nav">
                <div class="bar">
                    <button type="button"><img src="/images/bar.png" alt="전체메뉴"></button>
                    <ul class="bar-cate">
                        <li th:each="cate : ${categories}" class="bar-sub-cate">
                            <a th:text="${cate.name}" href="#"></a>

                            <ul class="sub-cate" th:if="${cate.children}">
                                <li th:each="sub : ${cate.children}">
                                    <a th:text="${sub.name}" href="#"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="list">
                    <ul>
                        <li><a href="#">주말룩</a></li>
                        <li class="home"><a href="#">홈</a></li>
                        <li><a href="#">특가</a></li>
                        <li><a href="#">패션</a></li>
                        <li><a href="#">뷰티</a></li>
                        <li><a href="#">라이프</a></li>
                        <li><a href="#">베스트</a></li>
                        <li><a href="#">여행</a></li>
                        <li><a href="#">백화점</a></li>
                        <li><a href="#">내일ON다</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                </div>
                <div class="all">
                    <img src="/images/+.png" alt="전체보기" class="full-view">
                    <ul class="full-menu">
                        <li><span>전체보기</span></li>
                        <div class="line"></div>
                        <li><a href="#">주말룩</a></li>
                        <li><a href="#" class="home">홈</a></li>
                        <li><a href="#">특가</a></li>
                        <li><a href="#">패션</a></li>
                        <li><a href="#">뷰티</a></li>
                        <li><a href="#">라이프</a></li>
                        <li><a href="#">쉬즈미스</a></li>
                        <li><a href="#">LG전자</a></li>
                        <li><a href="#">베스트</a></li>
                        <li><a href="#">여행</a></li>
                        <li><a href="#">백화점</a></li>
                        <li><a href="#">내일ON다</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                </div>
                <div class="rank">
                    <ul class="rank-list">
                        <li class="rank-item"><a href="#">1&nbsp;&nbsp;&nbsp;트위드자켓&nbsp;&nbsp;&nbsp;1 ▲</a></li>
                    </ul>
                </div>
                <div class="ranking-nav" id="rank-nav">
                    <p>1~10위</p>
                    <div class="rank-line"></div>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">트위드자켓</a></li>
                        <li><a href="#">-</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">2</a></li>
                        <li><a href="#">스튜디오톰보이</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">3</a></li>
                        <li><a href="#">캉골가방</a></li>
                        <li><a href="#"><span class="down">1 ▼</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">4</a></li>
                        <li><a href="#">바로드숑</a></li>
                        <li><a href="#">-</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">5</a></li>
                        <li><a href="#">나이스클랍</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">6</a></li>
                        <li><a href="#">써스데이아일랜드</a></li>
                        <li><a href="#"><span class="up">3 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">7</a></li>
                        <li><a href="#">여성봄자켓</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">8</a></li>
                        <li><a href="#">뉴발란스운동화</a></li>
                        <li><a href="#"><span class="up">2 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">9</a></li>
                        <li><a href="#">나이키운동화</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                    <ul>
                        <li><a href="#">10</a></li>
                        <li><a href="#">샤넬</a></li>
                        <li><a href="#"><span class="up">1 ▲</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</html>