<aside class="sidebar">
    <div class="best-items">
        <h3 class="best">베스트 상품</h3>
        <div class="best-main">
            <img class="best-image" src="/images/product/market_item2.jpg" alt="베스트상품1">
            <p class="best-title">상품명</p>
            <div class="price-wrap">
                <span class="best-price">30,000원</span>
                <span class="discount">10% ↓</span>
            </div>
            <p class="now">27,000원</p>
        </div>
        <div class="best-sub">
            <img class="best-image" src="/images/product/market_item3.jpg" alt="상품2">
            <div>
                <p class="best-title">상품명</p>
                <div class="price-wrap">
                    <span class="best-price">30,000원</span>
                    <span class="discount">10% ↓</span>
                </div>
                <p class="now">27,000원</p>
            </div>
        </div>
        <div class="best-sub">
            <img class="best-image" src="/images/product/market_item4.jpg" alt="상품3">
            <div>
                <p class="best-title">상품명</p>
                <div class="price-wrap">
                    <span class="best-price">30,000원</span>
                    <span class="discount">10% ↓</span>
                </div>
                <p class="now">27,000원</p>
            </div>
        </div>
        <div class="best-sub">
            <img class="best-image" src="/images/product/market_item4.jpg" alt="상품3">
            <div>
                <p class="best-title">상품명</p>
                <div class="price-wrap">
                    <span class="best-price">30,000원</span>
                    <span class="discount">10% ↓</span>
                </div>
                <p class="now">27,000원</p>
            </div>
        </div>
        <div class="best-sub">
            <img class="best-image" src="/images/product/market_item4.jpg" alt="상품3">
            <div>
                <p class="best-title">상품명</p>
                <div class="price-wrap">
                    <span class="best-price">30,000원</span>
                    <span class="discount">10% ↓</span>
                </div>
                <p class="now">27,000원</p>
            </div>
        </div>
    </div>
</aside>