<footer>
    <div class="footer-inner">
        <div class="footer-left">
            <nav class="footer-nav">
                <a th:href="@{/company/index}">HOME</a>
                <a th:href="@{/company/culture}">기업문화</a>
                <a th:href="@{/company/story}">소식과 이야기</a>
                <a th:href="@{/company/recruit}">채용</a>
                <a th:href="@{https://techblog.lotteon.com/}">기술블로그</a>
            </nav>
            <p class="copyright">© 2022 All rights Reserved</p>
        </div>

        <div class="footer-right">
            <p class="email">peoplevalue@lotte.net</p>
            <div class="sns-icons">
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook"></a>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/twitter.svg" alt="Twitter"></a>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/google.svg" alt="Google"></a>
                <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/pinterest.svg" alt="Pinterest"></a>
            </div>
        </div>
    </div>
</footer>