<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/common/_main_aside.css">
    <link rel="stylesheet" href="/css/product/complete.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */

            const selectAll = document.getElementById("select-all");

            selectAll.addEventListener("change", function () {
                const checkboxes = document.querySelectorAll(".item-check");
                checkboxes.forEach(chk => {
                    chk.checked = selectAll.checked;
                });
                updateSummary();
            });

            // 개별 체크박스 상태에 따라 전체 선택 체크 여부 제어
            const updateSelectAllState = () => {
                const checkboxes = document.querySelectorAll(".item-check");
                const checked = document.querySelectorAll(".item-check:checked");
                selectAll.checked = checkboxes.length === checked.length;
            };

            document.querySelectorAll(".item-check").forEach(chk => {
                chk.addEventListener("change", () => {
                    updateSelectAllState();
                    updateSummary();
                });
            });

        });
    </script>
</head>

<body>
    <div id="wrapper">
        <th:block th:include="/common/_header"/>

        <main>
            <article class="content">
                <th:block th:include="/common/_main_aside"/>


                <section class="main-content">
                    <div class="breadcrumb">HOME > 주문하기 > 주문완료</div>
                    <h2 class="product-title">주문완료</h2>

                    <div class="complete">
                        <span class="heading-title">고객님의 주문이 정상적으로 완료되었습니다.</span>
                        <span class="heading-sub">즐거운 쇼핑이 되셨나요? 항상 고객님을 위한 롯데ON이 되겠습니다.</span>
                    </div>

                    <div class="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="select-all"></th>
                                    <th>상품명</th>
                                    <th>상품금액</th>
                                    <th>할인금액</th>
                                    <th>수량</th>
                                    <th>주문금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" class="item-check"></td>
                                    <td class="product-name">
                                        <img src="/images/product/market_item1.jpg" alt="상품 이미지" />
                                        <div class="pro_name">
                                            <p class="p-title">상품명</p>
                                            <p class="p-desc">상품설명</p>
                                        </div>
                                    </td>
                                    <td>27,000</td>
                                    <td>-1,350</td>
                                    <td>1</td>
                                    <td>25,650</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="item-check"></td>
                                    <td class="product-name">
                                        <img src="/images/product/market_item1.jpg" alt="상품 이미지" />
                                        <div class="pro_name">
                                            <p class="p-title">상품명</p>
                                            <p class="p-desc">상품설명</p>
                                        </div>
                                    </td>
                                    <td>27,000</td>
                                    <td>-1,350</td>
                                    <td>1</td>
                                    <td>25,650</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="item-check"></td>
                                    <td class="product-name">
                                        <img src="/images/product/market_item1.jpg" alt="상품 이미지" />
                                        <div class="pro_name">
                                            <p class="p-title">상품명</p>
                                            <p class="p-desc">상품설명</p>
                                        </div>
                                    </td>
                                    <td>27,000</td>
                                    <td>-1,350</td>
                                    <td>1</td>
                                    <td>25,650</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="cart-summary">
                        <ul>
                            <li><span>총 상품금액</span><span>27,000 원</span></li>
                            <li><span>총 할인금액</span><span>-1,350 원</span></li>
                            <li><span>배송비</span><span>0 원</span></li>
                            <li><span>총 결제금액</span><span class="total">25,650 원</span></li>
                        </ul>
                    </div>

                    <div class="order-info-box">
                        <h3>주문정보</h3>
                        <table class="info-table">
                            <tbody>
                                <tr>
                                    <th>주문번호</th>
                                    <td>1000121121</td>
                                </tr>
                                <tr>
                                    <th>결제 방법</th>
                                    <td>신용카드</td>
                                </tr>
                                <tr>
                                    <th>주문자 / 연락처</th>
                                    <td>홍길동 / 010-1234-1234</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="order-total">
                            <span>총 결제금액</span>
                            <strong>24,650원</strong>
                        </div>
                    </div>

                    <div class="delivery-info-box">
                        <h3>배송정보</h3>
                        <table class="info-table">
                            <tbody>
                                <tr>
                                    <th>수취인</th>
                                    <td>홍길동</td>
                                </tr>
                                <tr>
                                    <th>연락처</th>
                                    <td>010 – 1234 – 1234</td>
                                </tr>
                                <tr>
                                    <th>배송지 주소</th>
                                    <td>부산 금정구 123-11 10 층</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </section>
            </article>
        </main>

        <th:block th:include="/common/_footer"/>
    </div>
</body>

</html>