<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/common/_main_aside.css">
    <link rel="stylesheet" href="/css/product/list.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */
        });
    </script>
</head>

<body>
    <div id="wrapper">
        <th:block th:include="/common/_header"/>

        <main>
            <article class="content">
                <th:block th:include="/common/_main_aside"/>

                <section class="main-content">
                    <div class="breadcrumb">HOME > 패션 · 의류 · 뷰티 > 남성의류</div>
                    <h2 class="product-title">상품목록</h2>

                    <div class="sort-options">
                        <div class="options-item"><a href="#">판매많은순</a></div>
                        <div class="options-item"><a href="#">낮은가격순</a></div>
                        <div class="options-item"><a href="#">높은가격순</a></div>
                        <div class="options-item"><a href="#">평점 높은순</a></div>
                        <div class="options-item"><a href="#">후기많은순</a></div>
                        <div class="options-item"><a href="#">최근 등록순</a></div>
                    </div>



                    <table class="product-table">
                        <tbody>
                            <tr>
                                <td><img src="/images/product/market_item1.jpg" alt="상품썸네일" class="product-img"></td>
                                <td>
                                    <p class="name">무농약 사과</p>
                                    <p class="desc">맛있는 사과</p>
                                </td>
                                <td>
                                    <p class="price"> 27,000원<br>
                                        <span class="original">30,000원</span>
                                        <span class="discount">10% ↓</span>
                                    </p>
                                    <p class="shipping">무료배송</p>
                                <td>
                                    <div class="premier">
                                        <a href="#"><img class="images" src="/images/home.png" alt="판매자">판매자</a>
                                        <div><img class="images" src="/images/achievement.png" alt="등급">고객만족우수</div>
                                    </div>
                                    <p class="review">상품평 <span class="stars">★★★★★</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="pagination">
                        <button>&lt; 이전</button>
                        <button class="active">1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <button>5</button>
                        <button>&gt; 다음</button>
                    </div>
                </section>
            </article>
        </main>

        <th:block th:include="/common/_footer"/>
    </div>
</body>

</html>