<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/common/_main_aside.css">
    <link rel="stylesheet" href="/css/product/list.css"/>
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */

            // const starContainers = document.querySelectorAll('.stars');
            //
            // starContainers.forEach(container => {
            //     const rating = parseFloat(container.dataset.rating);
            //     container.innerHTML = '';
            //
            //     for (let i = 0; i < 5; i++) {
            //         const star = document.createElement('span');
            //         star.classList.add('star-container');
            //
            //         if (rating > i + 1) {
            //             star.textContent = '★';
            //             star.classList.add('star-full');
            //         } else if (rating > i + 0.5 && rating <= i + 1) {
            //             star.textContent = '½';
            //             star.classList.add('star-half');
            //         } else {
            //             star.textContent = '☆';
            //             star.classList.add('star-empty');
            //         }
            //         container.appendChild(star);
            //     }
            // });
        });

    </script>
</head>

<body>
<div id="wrapper">
    <th:block th:include="/common/_header"/>

    <main>
        <article class="content">
            <th:block th:include="/common/_main_aside"/>

            <section class="main-content">
                <div class="breadcrumb">
                    <a href="/">HOME &gt;</a>
                    <th:block th:each="category, iterStat : ${categoryPath}">
                        <th:block th:if="${iterStat.index > 0}"> &gt; </th:block>
                        <a th:href="@{/product/list(cateId=${category.cateId})}" th:text="${category.cateName}"></a>
                    </th:block>
                </div>
                <h2 class="product-title">상품목록</h2>

                <div class="sort-options">
                    <div class="options-item"><a th:href="@{/product/list(pg=1, sortType='best', cateId=${cateId})}">판매많은순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(pg=1, sortType='lowPrice', cateId=${cateId})}">낮은가격순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(pg=1, sortType='highPrice', cateId=${cateId})}">높은가격순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(pg=1, sortType='rating', cateId=${cateId})}">평점 높은순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(pg=1, sortType='review', cateId=${cateId})}">후기많은순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(pg=1, sortType='recent', cateId=${cateId})}">최근 등록순</a></div>
                </div>


                <table class="product-table">
                    <tbody>
                    <tr th:each="product, i:${pageResponseDTO.dtoList}">
                        <td><a th:href="@{/product/view(pid=${product.pid})}"><img th:src="${product.img_file_1}"
                                                                                   alt="상품썸네일" class="product-img"></a>
                        </td>
                        <td>
                            <a th:href="@{/product/view(pid=${product.pid})}"><p class="name">[[${product.pname}]]</p>
                            </a>
                            <p class="desc">[[${product.description}]]</p>
                        </td>
                        <td>
                            <p class="price">[[${product.discountPrice}]]원<br>
                                <span class="original">[[${product.price}]]원</span>
                                <span class="discount">[[${product.discount}]]%</span>
                            </p>
                            <p class="shipping">배송 [[${product.delivery_free}]]</p>
                        <td>
                            <div class="premier">
                                <a href="#"><img class="images" th:src="@{/images/home.png}" alt="판매자">[[${product.company}]]</a>
                                <div><img class="images" src="/images/achievement.png" alt="등급">고객만족우수</div>
                            </div>
                            <p class="review">상품평
                                <span class="stars">
                                <th:block th:if="${product.rating != null}"
                                          th:each="i : ${#numbers.sequence(1, product.rating)}">★</th:block>
                                <th:block th:if="${product.rating == null}">☆☆☆☆☆</th:block>
                            </span>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <div class="pagination" th:if="${pageResponseDTO.total > 0}">
                    <th:block th:if="${pageResponseDTO.prev}">
                        <a th:href="@{/product/list(pg=${pageResponseDTO.start - 1}, cateId=${cateId}, sortType=${sortType})}" class="page-move">이전</a>
                    </th:block>

                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <a th:href="@{/product/list(pg=${num}, cateId=${cateId}, sortType=${sortType})}"
                           th:class="${num == pageResponseDTO.pg} ? 'currnt' : 'num'">[[${num}]]</a>
                    </th:block>

                    <th:block th:if="${pageResponseDTO.next}">
                        <a th:href="@{/product/list(pg=${pageResponseDTO.end + 1}, cateId=${cateId}, sortType=${sortType})}" class="page-move">다음</a>
                    </th:block>
                </div>


            </section>
        </article>
    </main>

    <th:block th:include="/common/_footer"/>
</div>
</body>

</html>