<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/common/_main_aside.css">
    <link rel="stylesheet" href="/css/product/list.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */
        });
    </script>
</head>

<body>

<div id="wrapper">
    <th:block th:include="/common/_header"/>

    <main>
        <article class="content">
            <th:block th:include="/common/_main_aside"/>

            <section class="main-content">
                <div class="breadcrumb">HOME
                    <span th:each="category, i : ${categoryPath}">
                    <th:block th:if="${i.index > 0}"> > </th:block>
                    <span th:text="${category.cateName}"></span>
                </span>
                </div>
                <h2 class="product-title">상품목록</h2>

                <div class="sort-options">
                    <div class="options-item"><a th:href="@{/product/list(sortType='best')}">판매많은순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(sortType='lowPrice')}">낮은가격순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(sortType='highPrice')}">높은가격순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(sortType='rating')}">평점 높은순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(sortType='review')}">후기많은순</a></div>
                    <div class="options-item"><a th:href="@{/product/list(sortType='recent')}">최근 등록순</a></div>
                </div>


                <table class="product-table">
                    <tbody>
                    <tr th:each="product, i:${pageResponseDTO.dtoList}">
                        <td><a th:href="@{/product/view(pid=${product.pid})}"><img th:src="${product.img_file_1}" alt="상품썸네일" class="product-img"></a></td>
                        <td>
                            <a th:href="@{/product/view(pid=${product.pid})}"><p class="name">[[${product.pname}]]</p></a>
                            <p class="desc">[[${product.description}]]</p>
                        </td>
                        <td>
                            <p class="price">[[${product.discountPrice}]]원<br>
                                <span class="original">[[${product.price}]]원</span>
                                <span class="discount">[[${product.discount}]]%</span>
                            </p>
                            <p class="shipping">배송 [[${product.delivery_free}]]</p>
                        <td>
                            <div class="premier">
                                <a href="#"><img class="images" th:src="@{/images/home.png}" alt="판매자">[[${product.company}]]</a>
                                <div><img class="images" src="/images/achievement.png" alt="등급">고객만족우수</div>
                            </div>
                        <p class="review">상품평 <span class="stars" ><th:block th:each="i : ${#numbers.sequence(1, product.rating)}">★</th:block></span></p>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <div class="pagination" th:if="${pageResponseDTO.total > 0}">
                    <th:block th:if="${pageResponseDTO.prev}">
                        <a th:href="@{/product/list(pg=${pageResponseDTO.start - 1})}" class="page-move">이전</a>
                    </th:block>

                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <a class="active" th:href="@{/product/list(pg=${num})}"
                           th:class="${num == pageResponseDTO.pg} ? 'currnt':'num'">[[${num}]]</a>
                    </th:block>

                    <th:block th:if="${pageResponseDTO.next}">
                        <a th:href="@{/product/list(pg=${pageResponseDTO.end+1})}"
                           class="page-move">다음</a>
                    </th:block>
                </div>
            </section>
        </article>
    </main>

    <th:block th:include="/common/_footer"/>
</div>

    <div id="wrapper">
        <th:block th:include="/common/_header"/>

        <main>
            <article class="content">
                <th:block th:include="/common/_main_aside"/>

                <section class="main-content">
                    <div class="breadcrumb">HOME > 패션 · 의류 · 뷰티 > 남성의류</div>
                    <h2 class="product-title">상품목록</h2>

                    <div class="sort-options">
                        <div class="options-item"><a href="#">판매많은순</a></div>
                        <div class="options-item"><a href="#">낮은가격순</a></div>
                        <div class="options-item"><a href="#">높은가격순</a></div>
                        <div class="options-item"><a href="#">평점 높은순</a></div>
                        <div class="options-item"><a href="#">후기많은순</a></div>
                        <div class="options-item"><a href="#">최근 등록순</a></div>
                    </div>



                    <table class="product-table">
                        <tbody>
                            <tr th:each="product, i:${pageResponseDTO.dtoList}">
                                <td><img src="/images/product/market_item1.jpg" alt="상품썸네일" class="product-img"></td>
                                <td>
                                    <p class="name">[[${product.pname}]]</p>
                                    <p class="desc">[[${product.description}]]</p>
                                </td>
                                <td>
                                    <p class="price">[[${product.price}]]<br>
                                        <span class="original">30,000원</span>
                                        <span class="discount">10% ↓</span>
                                    </p>
                                    <p class="shipping">[[${product.delivery}]]</p>
                                <td>
                                    <div class="premier">
                                        <a href="#"><img class="images" src="/images/home.png" alt="판매자">[[${product.company}]]</a>
                                        <div><img class="images" src="/images/achievement.png" alt="등급">고객만족우수</div>
                                    </div>
                                    <p class="review">상품평 <span class="stars">★★★★★</span></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="pagination">
                        <a>&lt; 이전</a>

                        <a class="active">1</a>

                        <a>&gt; 다음</a>
                    </div>
                </section>
            </article>
        </main>

        <th:block th:include="/common/_footer"/>
    </div>

</body>

</html>