<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <link rel="stylesheet" href="/css/common/_header.css" />
    <link rel="stylesheet" href="/css/common/_footer.css" />
    <link rel="stylesheet" href="/css/myaccount/coupon.css" />
    <link rel="stylesheet" href="/css/policy/buyer.css" />
</head>
<body>
<th:block th:include="/common/_header"/>
<main>
    <div class="main-content">
        <div class="main-story">
            <h2>LotteON 서비스 이용약관</h2>
            <div class="tabs">
                <div class="tab-item active" onclick="showTab(0)">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="회원 약관" />
                    <span>구매회원 약관</span>
                </div>
                <div class="tab-item" onclick="showTab(1)">
                    <img src="https://cdn-icons-png.flaticon.com/512/3138/3138714.png" alt="판매회원 약관" />
                    <span>판매회원 약관</span>
                </div>
                <div class="tab-item" onclick="showTab(2)">
                    <img src="https://cdn-icons-png.flaticon.com/512/126/126498.png" alt="전자금융 거래" />
                    <span>전자금융 거래</span>
                </div>
                <div class="tab-item" onclick="showTab(3)">
                    <img src="https://cdn-icons-png.flaticon.com/512/535/535188.png" alt="위치정보 약관" />
                    <span>위치정보 약관</span>
                </div>
                <div class="tab-item" onclick="showTab(4)">
                    <img src="https://cdn-icons-png.flaticon.com/512/3524/3524659.png" alt="개인정보처리" />
                    <span>개인정보처리</span>
                </div>
            </div>
            <div id="tabContents">
                <div class="tab-content active">
                    <div class="print-icon" onclick="window.print()">
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="프린트" title="인쇄하기">
                    </div>
                    <h2>구매회원 이용약관</h2>
                    <div class="list-menu">
                        <div class="terms-subtitle">제 1 조 (목적)</div><br>
                        <p th:text="${terms.sellerTerms}">판매회원 약관 내용</p>
                        <div class="divider"></div><br>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="print-icon" onclick="window.print()">
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="프린트" title="인쇄하기">
                    </div>
                    <h2>판매회원 약관</h2>
                    <div class="list-menu">
                        <div class="terms-subtitle">제 2 조 (목적)</div><br>
                        <p th:text="${terms.purchaseTerms}">구매회원 약관 내용</p>
                        <div class="divider"></div><br>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="print-icon" onclick="window.print()">
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="프린트" title="인쇄하기">
                    </div>
                    <h2>전자금융 거래</h2>
                    <div class="list-menu">
                        <div class="terms-subtitle">제 3 조 (목적)</div><br>
                        <p th:text="${terms.electronicTerms}">판매회원 약관 내용</p>
                        <div class="divider"></div><br>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="print-icon" onclick="window.print()">
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="프린트" title="인쇄하기">
                    </div>
                    <h2>위치정보 약관</h2>
                    <div class="list-menu">
                        <div class="terms-subtitle">제 4 조 (목적)</div><br>
                        <p th:text="${terms.locationTerms}">약관 내용</p>
                        <div class="divider"></div><br>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="print-icon" onclick="window.print()">
                        <img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="프린트" title="인쇄하기">
                    </div>
                    <h2>개인정보처리방침</h2>
                    <div class="list-menu">
                        <div class="terms-subtitle">제 5 조 (목적)</div><br>
                        <p th:text="${terms.privacyPolicy}">약관 내용</p>
                        <div class="divider"></div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="/common/_footer"/>
<script src="/js/head.js"></script>
<script src="/js/active.js"></script>


</body>
</html>