<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/member/join.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>롯데ON 회원가입</title>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */
        });
    </script>
</head>

<body>
<div id="wrapper">
    <th:block th:include="/common/_header"/>

    <main>
        <article class="content">
            <h3>대한민국 1등 온라인 인터넷 쇼핑</h3>
            <h2>롯데 ON에 오신 것을 환영합니다.</h2>

            <section class="card-wrap">
                <!-- 일반회원가입 카드 -->
                <div class="card">
                    <div class="card-header red">일반회원가입</div>
                    <div class="card-body">
                        <p>개인구매회원 (외국인 포함)</p>
                        <p>만 14세 이상 가능</p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/member/terms}">회원가입</a>
                    </div>
                </div>

                <!-- 판매회원가입 카드 -->
                <div class="card">
                    <div class="card-header blue">판매회원가입</div>
                    <div class="card-body">
                        <p>사업자판매회원</p>
                        <p>사업자등록증을 보유한 회원</p>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{/member/terms1}">회원가입</a>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <th:block th:include="/common/_footer"/>
</div>
</body>

</html>