<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/member/login.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/login.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const params = new URLSearchParams(window.location.search);
            const error = params.get('error');
            const message = params.get('message');

            if (error === 'true' && message) {
                alert(decodeURIComponent(message));
            }
        });
    </script>

</head>

<body>
<div id="wrapper">
    <th:block th:include="/common/_header"/>
    <main>
        <article class="content">
            <div class="form-hd">
                <h2>로그인</h2>
            </div>
            <form class="login-form" method="post" action="/member/login">
                <div>
                    <div class="form-row">
                        <div class="input-section">
                            <input type="text" name="uid" placeholder="아이디">
                            <input type="password" name="password" placeholder="비밀번호">
                            <input type="hidden" name="uid" value="seller">
                        </div>
                        <input type="submit" value="로그인" class="loginbtn">
                    </div>

                    <div class="login">
                        <div class="login-item"><label><input type="checkbox" name="autologin">자동 로그인</label></div>
                        <div class="login-item"><a th:href="@{/member/find}">아이디 찾기</a></div>
                        <div class="login-item"><a th:href="@{/member/find}">비밀번호 찾기</a></div>
                        <div class="login-item"><a th:href="@{/member/join}">회원가입</a></div>
                    </div>

                    <div class="sns-login">
                        <a href="/oauth2/authorization/google" class="login-btn google-login-btn">
                            <img src="/images/login/google2.png" alt="Google 로고">
                            <span class="expression">구글 계정으로 계속하기</span>
                        </a>

                        <a href="/oauth2/authorization/naver" class="login-btn naver-login-btn">
                            <img src="/images/login/naver.png" alt="naver 로고">
                            <span class="expression">네이버 계정으로 계속하기</span>
                        </a>
                        <a href="/oauth2/authorization/kakao" class="login-btn kakao-login-btn">
                            <img src="/images/login/kakao.png" alt="kakao 로고">
                            <span class="expression">카카오 계정으로 계속하기</span>
                        </a>
                    </div>

                </div>
            </form>

            <div class="main_banner">
                <img src="https://dummyimage.com/480x260" alt="임시배너">
            </div>

            <div class="connection">
                <a href="#"><img src="/images/info-img-1.png" alt="제품안전 협력매장"></a>
                <a href="#"><img src="/images/info-img-2.png" alt="한국온라인 쇼핑협회 정회원사"></a>
                <a href="#"><img src="/images/info-img-3.png" alt="국세청 영수증 서비스"></a>
                <a href="#"><img src="/images/info-img-4.png" alt="위해상품 차단시스템 운영매장"></a>
                <a href="#"><img src="/images/info-img-5.png" alt="손말이음센터"></a>
                <a href="#"><img src="/images/info-img-6.png" alt="개인정보보호 PCR"></a>
            </div>
        </article>
    </main>

    <th:block th:include="/common/_footer"/>
</div>

<div th:if="${error}" class="login-error">
    <p th:text="${error}" style="color: red;"></p>
</div>
</body>

</html>