<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/member/register.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>롯데ON 일반 회원가입</title>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */
        });
    </script>
</head>

<body>
<div id="wrapper">
    <th:block th:include="/common/_header"/>
    <main>
        <article class="content">
            <div class="form-hd">
                <h2>일반 회원가입</h2>
            </div>
            <form name="formRegister" action="#" method="post">
                <div class="termsarea">
                    <table>
                        <tr class="border-top">
                            <th>아이디</th>
                            <td>
                                <input class="register" type="text" name="uid" placeholder="아이디 입력" />
                                <span class="ex">영문·숫자 조합 4~12자 이내</span>
                            </td>
                        </tr>

                        <tr>
                            <th>비밀번호</th>
                            <td>
                                <input class="register" type="password" name="password" placeholder="비밀번호 입력" />
                                <span class="ex">영문·숫자·특수문자 조합 8~12자</span>
                            </td>
                        </tr>

                        <tr>
                            <th>비밀번호 확인</th>
                            <td>
                                <input class="register" type="password" name="password_confirm" placeholder="비밀번호 입력 확인" />
                            </td>
                        </tr>

                        <tr>
                            <th>이름</th>
                            <td>
                                <input class="register" type="text" name="uname" placeholder="이름 입력" />
                            </td>
                        </tr>

                        <tr>
                            <th>성별</th>
                            <td>
                                <div class="gender-options">
                                    <label><input type="radio" name="gender"> 남</label>
                                    <label><input type="radio" name="gender"> 여</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>EMAIL</th>
                            <td>
                                <input class="register" type="email" name="email" placeholder="이메일 입력" />
                                <button type="button" class="auth-btn">이메일 인증</button>
                            </td>
                        </tr>

                        <tr>
                            <th>휴대폰</th>
                            <td>
                                <input class="register" type="text" name="hp" placeholder="휴대폰 입력" />
                                <button type="button" class="auth-btn">휴대폰 인증</button>
                            </td>
                        </tr>

                        <tr class="address-row border-bottom">
                            <th>주소</th>
                            <td>
                                <div class="address-container">
                                    <button type="button" class="zipcode-btn" name="zip">우편번호 선택</button>
                                    <input class="register zip" type="text" name="addr1" placeholder="기본주소 선택" />
                                    <input class="register zip" type="text" name="addr2" placeholder="상세주소 입력" />
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="pagebtn">
                    <div class="next">
                        <button type="submit" id="next">회원가입</button>
                    </div>
                </div>

            </form>
        </article>
    </main>

    <th:block th:include="/common/_footer"/>
</div>
</body>

</html>