<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/member/register.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title>롯데ON 일반 회원가입</title>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/email.js"></script>

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function postcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.getElementById('zip').value = data.zonecode; // 우편번호
                    document.getElementById('addr1').value = data.roadAddress; // 주소
                    document.getElementById('addr2').focus(); // 상세주소로 포커스 이동
                }
            }).open();
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('.login-form');

            form.addEventListener('submit', function (e) {
                const id = form.id.value.trim();
                const password = form.password.value.trim();

                if (id === '' || password === '') {
                    e.preventDefault();
                    alert('아이디와 비밀번호를 모두 입력해 주세요.');
                    return false;
                }

                // 서버로 전송 (백엔드 처리 필요)
            });
        });
    </script>
    <script src="/js/member/validateRegister.js"></script>
</head>
<body>
<div id="wrapper">
    <th:block th:include="/common/_header"/>
    <main>
        <article class="content">
            <div class="form-hd">
                <h2>일반 회원가입</h2>
            </div>
            <form name="formRegister" action="#" method="post">
                <div class="termsarea">
                    <table>
                        <tr class="border-top">
                            <th>아이디</th>
                            <td>
                                <input class="register" type="text" name="uid" placeholder="아이디 입력" />
                                <button type="button" id="btnCheckUid" class="auth-btn">중복확인</button>
                                <span class="uidResult ex"></span>
                            </td>
                        </tr>

                        <tr>
                            <th>비밀번호</th>
                            <td>
                                <input class="register" type="password" name="password" placeholder="비밀번호 입력" />
                                <span class="ex">영문·숫자·특수문자 조합 8~12자</span>
                            </td>
                        </tr>

                        <tr>
                        <tr>
                            <th>비밀번호 확인</th>
                            <td>
                                <input class="register" type="password" name="password_confirm" placeholder="비밀번호 입력 확인" />
                                <span class="passResult ex"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input class="register" type="text" name="uname" placeholder="이름 입력" />
                                <span class="nameResult ex"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>생년월일</th>
                            <td>
                                <input class="register" type="date" name="birth" placeholder="날짜선택" >
                            </td>
                        </tr>

                        <tr>
                            <th>성별</th>
                            <td>
                                <div class="gender-options">
                                    <label><input type="radio" name="gender"> 남</label>
                                    <label><input type="radio" name="gender"> 여</label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th>EMAIL</th>
                            <td>
                                <input class="register" type="email" name="email" placeholder="이메일 입력" />
                                <button type="button" class="auth-btn" id="btnSendEmail">이메일 인증</button>
                                <div class="auth" style="display:none;">
                                    <input type="text" name="auth" placeholder="인증번호 입력" />
                                    <button type="button" id="btnAuthEmail">인증 확인</button>
                                </div>
                                <span class="emailResult ex"></span>
                            </td>
                        </tr>

                        <tr>
                            <th>휴대폰</th>
                            <td>
                                <input class="register" type="text" name="hp" placeholder="휴대폰 입력" />
                                <button type="button" class="auth-btn">휴대폰 인증</button>
                                <span class="hpResult ex"></span>
                            </td>
                        </tr>

                        <tr class="address-row border-bottom">
                            <th>주소</th>
                            <td>
                                <div class="address-container">

                                    <input class="register zip" type="text" name="zip" id="zip" placeholder="우편번호" readonly />

                                    <button type="button" onclick="postcode()" class="zipcode-btn">우편번호 선택</button>

                                    <input class="register zip" type="text" name="addr1" id="addr1" placeholder="기본주소 선택" readonly />
                                    <input class="register zip" type="text" name="addr2" id="addr2" placeholder="상세주소 입력" />
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="pagebtn">
                    <div class="next">
                        <button type="submit" id="next">회원가입</button>

                    </div>
                </div>

            </form>
        </article>
    </main>

    <th:block th:include="/common/_footer"/>
</div>
</body>

</html>