<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/member/resultid.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */

        });
    </script>
</head>

<body>
<div id="wrapper">
    <th:block th:include="/common/_header"/>

    <main>
        <article class="find-wrapper">
            <h2>아이디/비밀번호 찾기</h2>
            <p class="find-subtitle">아이디 찾기 결과</p>
            <p class="find-desc">아래의 회원정보를 확인해 주세요.</p>

            <div class="result-box">
                <div class="membership">회원</div>
                <table class="result-table">
                    <tr>
                        <th>이름</th>
                        <td>홍길동</td>
                    </tr>
                    <tr>
                        <th>아이디</th>
                        <td>hong@naver.com</td>
                    </tr>
                    <tr>
                        <th>가입일자</th>
                        <td>2025-04-10</td>
                    </tr>
                </table>
            </div>

            <div class="result-buttons">
                <button class="reset-btn">비밀번호 재설정</button>
                <button class="login-btn">로그인하기</button>
            </div>
        </article>
    </main>

    <th:block th:include="/common/_footer"/>
</div>
</body>

</html>