<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/common/_header.css">
    <link rel="stylesheet" href="/css/common/_footer.css">
    <link rel="stylesheet" href="/css/cs/notice/list.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <title th:text="${siteConfig.siteTitle} + ' - ' + ${siteConfig.siteSubtitle}">기본 제목</title>
    <link rel="icon" th:href="@{'/uploads/' + ${logo.favicon}}" type="image/x-icon">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const bar = document.querySelector('.bar');
            const barcate = document.querySelector('.bar-cate');
            const fullview = document.querySelector('.full-view');
            const fullmenu = document.querySelector('.full-menu');
            const all = document.getElementsByClassName('all')[0];
            const rank = document.querySelector('.rank');
            const ranknav = document.getElementById('rank-nav');

            rank.addEventListener('click', () => {
                ranknav.classList.toggle('rank-show');
            });

            rank.addEventListener('mouseleave', () => {
                ranknav.classList.remove('rank-show');
            });
            /*
            const rankitem = document.getElementsByClassName('rank-item')[0];
            let currentIndex = 0;
            */

            bar.addEventListener('click', () => {
                barcate.classList.toggle('show');
            });

            bar.addEventListener('mouseleave', () => {
                barcate.classList.remove('show');
            });

            fullview.addEventListener('click', () => {
                fullmenu.classList.toggle('menu');
            });

            all.addEventListener('mouseleave', () => {
                fullmenu.classList.remove('menu');
            });

            /*
            function showNextItem() {
                currentIndex = (currentIndex + 1) % rankitem.length;
                ranklist.style.transform = `translateY(-${currentIndex * 100}%)`;
            }

            setInterval(showNextItem, 3000);
            */
        });
    </script>
</head>

<body>
    <div id="wrapper">
        <th:block th:include="/common/_header"/>
        <main>

            <div class="notice-wrapper">
                <div class="notice-path">
                    <span>홈</span> &gt; <strong>이벤트당첨</strong>
                </div>

                <div class="cs-container">
                    <th:block th:include="/common/_cs_notice_aside.html"/>

                    <section class="cs-content">
                        <h3 class="cs-title">이벤트당첨</h3>
                        <p class="cs-desc">공지사항 이벤트당첨 내용을 안내합니다.</p>

                        <table class="cs-table">
                            <tbody>
                            <tr th:each="notice : ${eventList}">
                                <td th:text="${notice.noticeId}"></td>
                                <td>
                                    <a th:href="@{'/notice/' + ${notice.noticeId}}" th:text="${notice.title}"></a>
                                </td>
                                <td th:text="${#temporals.format(notice.uploadAt,'yy.MM.dd')}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="pagination">
                            <a th:if="${page.hasPrevious()}"
                               th:href="@{/notice/event-list(page=${page.number - 1})}">이전</a>

                            <span th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                                <a th:href="@{/notice/event-list(page=${i})}"
                                   th:text="${i + 1}"
                                   th:classappend="${page.number == i} ? 'active'">1</a>
                            </span>

                            <a th:if="${page.hasNext()}"
                               th:href="@{/notice/event-list(page=${page.number + 1})}">다음</a>
                        </div>
                    </section>
                </div>
            </div>

        </main>

        <th:block th:include="/common/_footer"/>
    </div>
</body>

</html>